<div class="collection-preview">

  <%= link_to collection_path(collection) do %>
    <div class="collection-thumbnail">
      <%= image_tag(collection.images.first.try(:f, :medium) || 
        "empty-collection.svg") %>
    </div>

    <div class="collection-information">
      <p class="collection-title"><%= collection.name %>
      
      <% unless collection.description.empty? %>
        <p class="collection-description"><%= collection.description %>
      <% end %>
    </div>

  <% end %>

</div>
