<%- title t(".browse_collections") %>

<%= render partial: "shared/browse_tabs" %>

<div class="collections-list-container">
  <%= render partial: "collections/show_stub", collection: @collections, as: :collection %>
</div>

<%= will_paginate @collections %>
