@import "variables";

// The following animations are used to move the error dialog down below the header, keep it there for 90% of the duration of the animation, then hide it again.
@keyframes alertAnimation {
  0% {
    display: block;
    transform: none;
  }

  8% {
    transform: translate3d(0, 100%, 0);
  }

  92% {
    transform: translate3d(0, 100%, 0);
  }

  99% {
    display: block;
    transform: none;
  }

  100% {
    display: none;
  }
}

// Generic alert container for all warnings/errors/successful actions.
.alert {
  animation: alertAnimation 6000ms linear 300ms 1 normal forwards;
  transform: translateY(-40px);
  color: #fff;
  display: block;
  font-size: 1.4rem;
  font-weight: 400;
  height: 40px;
  left: 0;
  line-height: 20px;
  margin: 0;
  padding: 9px 40px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 999;

  p {
    display: inline;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 20px;
  }

  > p:first-of-type::before {
    font-size: 1.6rem;
    margin-right: 8px;
    top: 1px;
    position: relative;
  }

  // If there are multiple errors listed sequentially, this will change all but the first to lower-case so there aren't random capital letters in the middle of a sentence.
  p:not(:first-of-type) {
    text-transform: lowercase;
  }

  .alert-close {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 55px;
    cursor: pointer;

    &::after {
      content: $icon-close;
      font-size: 1.4rem;
      color: #fff;
    }

    @media #{$mobile} {
      top: 13px;
      right: 30px;
    }
  }

  @media #{$mobile} {
    height: 50px;
    padding: 13px 20px;
    font-size: 1.6rem;

    > p:first-of-type::before {
      font-size: 1.8rem;
    }
  }
}

// Style for positive alerts.
.alert-success,
.alert-notice {
  background-color: $color-success;

  > p:first-of-type::before {
    content: $icon-checkmark;
  }
}

// Style for informative alerts.
.alert-info {
  background-color: $color-info;

  > p:first-of-type::before {
    content: $icon-info;
  }
}

// Style for less severe errors.
.alert-warning,
.alert-alert {
  background-color: $color-warning;

  > p:first-of-type::before {
    content: $icon-warning;
  }
}

// Style for "dangerous" errors.
.alert-danger {
  background-color: $color-danger;

  > p:first-of-type::before {
    content: $icon-danger;
  }
}
