<%= form_for [@note, @note.replies.build] do |f| %>
  <div class="field-container">
    <%= f.label :body, class: "label input-empty" %>
    <%= f.text_area :body, class: "input" %>
  </div>

  <%= f.submit class: "btn btn-green btn-full-width" %>
<% end %>
