<li class="dashboard-item">
  <%= link_to listing do %>
    <%= image_tag(listing.images.first.try(:f).try(:url, :large) || 
                  "empty-collection.svg") %>
  <% end %>
  <div class="item-bottom-bar">
    <div class="item-name"><%= link_to listing.name, listing %></div>
  </div>
</li>
