<li class="dashboard-listing-item">
  <div class="dashboard-listing-name">
    <%= link_to listing.name, listing %>
  </div>
  <ul class="dashboard-listing-example-images-list">
    <% listing.images.each do |i| %>
      <li>
        <%= link_to i do %>
          <%= image_tag i.f(:small) %>
        <% end %>
      </li>
    <% end %>
  </ul>
</li>
