<li class="dashboard-item">
  <%= link_to order.path do %>
    <%= image_tag(order.random_image || 
                 "empty-collection.svg") %>
  <% end %>
  <div class="item-bottom-bar">
    <div class="item-name">
      <%= link_to order.name, order.path %>
    </div>
  </div>
  <% if order.final_price %>
    <div class="item-price">
      <%= price order.final_price %>
    </div>
  <% end %>
</li>
