<article id="commissions-plan">
	<h1>Commissions</h1>
	<span class="big-subtitle">Coming Soon to ImageHex</span>
	<section id="commissions-intro">
		<p/>
		ImageHex is not just the best place to share art on the internet.
		We at Noided Media are working hard to make it the best place to buy and sell art as well.
		Every day, thousands of people buy commissions online, purchasing everything from app icons to character sketches to technical diagrams.
		The message is clear: people want to buy and sell art on the internet.
		<p/>
		Unfortunately, doing so is normally a frustrating and unsafe process.
		Deals are often negotiated via email, with neither artist nor client being able to assure that the other party will uphold their end of the bargain.
		Artists are forced to manage all information about a commission by themselves, including what the user wants and what their deadline is.
		For an artist trying to accept several commissions at once, this can be frustrating and stressful, and important details may fall by the wayside.
		<p/>
		Thankfully, there's soon to be a better way.
	</section>
	<section id="info-start">
		<h2>What ImageHex offers</h2>
		<p/>
		ImageHex is going to make commissioning or selling art a painless, intuitive experience.
		We will make the exchange of art safer, simpler, and faster for all involved.

		<section>
			<h3>Safety</h3>
			ImageHex makes the artist system safer by providing <em>escrow</em>.
			It works like this:
			<!-- TODO: insert cutesy infographics -->
			<ol id="escrow-list">
				<li>
				An artist takes a commission from a user
				</li>
				<li>
				The user's bank account is charged, and ImageHex holds the money
				</li>
				<li>
				The artist creates the image the user commissioned and sends it to them
				</li>
				<li>
				ImageHex gives the money it was holding in escrow to the artist
				</li>
			</ol>
			With this system, we can be sure both parties uphold their end of the deal.
			Artists are assured payment, and users are assured the art they paid for.
		</section>

		<section id="simplicity">
			<h3>Simplicity</h3>
			ImageHex makes commissioning art simpler than ever before.
			ImageHex manages all the information for a commission, making it easier for users to tell artists what they want and allowing artists to focus on their art.
			<section id="commission-tiers">
			<h4>Commission Tiers</h4>
			<p/>
			Accepting a commission on ImageHex starts with defining tiers.
			These are the types of commission that you are willing to accept, and generally have different prices.
			A common use case is having one tier for sketched drawings, one tier for colored and inked drawings, and one tier for colored, inked, and shaded drawings, each going up in price.
			You can define as many of these as you want.
			<p/>

			</section>
			<section id="commission-general-information">
			<h4>General Information</h4>
			Commissions start with a high-level overview.
			This lets artists get a feel for what their client wants, and provides a reference for when they actually start creating.
			This overview includes both a text description and the ability for users to reference similar images.
			It also provides information such as what kind of commission it is (for example, a sketch vs a fully inked drawing) and the deadline, so artists can easily keep track of what they're working on.
			</section>
			<section id="commission-subject-information">
			<h4>Subject Information</h4>
			<p/>
			ImagHex groups all the information for each subject in an image in one place.
			A subject is typically a character, but it can concievably be anything.
			Need to commission your dad a painting of his precious 1961 Ferrari 250 GT California Spyder, or your girlfriend a painting of the house she grew up in?
			We have you covered.
			<p/>
			Each subject can have a description, any number of reference images, and a tag group.
			This provides a great resource for artists: can't remember a detail about something you're drawing?
			Look it up instantly, without having to go digging through your inbox. 
			</section>
		</section>
		<section id="Speed">

		</section>
	</section>
</article>

