<div class="imagehex-static-page-container no-padding no-margin white-background">

  <section class="imagehex-static-section imagehex-static-hero">
    <h1>Commissions</h1>
    <h2>A simpler way to commission art online.</h2>

    <div class="image-container">
      <picture>
        <source srcset=<%= asset_path("commissions-hero-graphic.svg") %> type="image/svg+xml">
        <img src=<%= asset_path("commissions-hero-graphic.png") %>>
      </picture>
    </div>

  </section>

  <section class="imagehex-static-section">
    <div class="imagehex-static-text">
      <h3>Sign up for our newsletter</h3>
      
      <div class="newsletter-sign-up">
        <%# form_for @newsletter do |f| %>
          <%= text_field_tag html: { placeholder: "sarah@example.com" } %>
          <%= submit_tag "Sign up" %>
        <%# end %>
      </div>

      <p>Keep up to date with the development of our Commissions feature. We promise to never send more than one email a month, and you can unsubscribe whenever you want.
    </div>
  </section>
</div>
