<div class="imagehex-static-page-container">

  <h2>Commissions</h2>
  <h3>Coming Soon</h3>

  <article class="imagehex-static-text">
    <section id="commissions-intro">
      <p>
      ImageHex is not just the best place to share art on the internet.
      We're hard at work making the best place to buy and sell art as well.
      Every day, thousands of people buy commissions online, purchasing everything from character sketches and portraits to app icons and technical diagrams.
      The message is clear: people want to buy and sell art on the internet.
      
      <p>
      Unfortunately, doing so is normally a frustrating and unsafe process.
      Deals are often negotiated via email, with neither artist nor client being able to assure that the other party will uphold their end of the bargain.
      Artists are forced to manage all information about a commission by themselves, including what the user wants and what their deadline is.
      For an artist trying to accept several commissions at once, this can be frustrating and stressful, and important details may fall by the wayside.
      <p>Thankfully, there's soon to be a better way.
    </section>

    <section id="info-start">
      <h2>What ImageHex offers</h2>
      <p>ImageHex is going to make commissioning or selling art a painless, intuitive experience. We will make the exchange of art safer, simpler, and faster for all involved.</p>

      <section>
        <h3>Guaranteed Payments</h3>
        <p>ImageHex makes the artist system safer by providing <em>escrow</em>.
        It works like this:</p>
        
        <ol id="escrow-list">
          <li>An artist takes a commission from a user</li>
          <li>The user's bank account is charged, and ImageHex holds the money</li>
          <li>The artist creates the image the user commissioned and sends it to them</li>
          <li>ImageHex gives the money it was holding in escrow to the artist</li>
        </ol>

        <p>With this system, we can be sure both parties uphold their end of the deal.
        Artists are assured payment, and users are assured the art they paid for.</p>
      </section>

      <section id="centralized-marketplace">
        <h3>Centralized Marketplace</h3>
          <p>ImageHex provides one unified marketplace, making it easier to buy and sell commissions.
          <ul id="centralized-marketplace-list" class="feature-sublist">
            <li>
              ImageHex's commission system flexibly adapts to artist needs.
              Set different different price tiers for different levels of complexity, like a sketch vs inked drawing.
              Want more fine-grained control?
              Add any number of <em>options</em>, changing the price of a commission based on anything from number of characters to complexity of background to license agreements.
            </li>
            <li>All the information about an artist's commissions is in one place, making it easy to compare prices.</li>
            </li>Your followers are automatically notified when you start accepting commissions, letting you leverage your audience.</li>
            <li>Your commissions appear on the open marketplace, providing you more exposure.</li>
            <li>Artists can chose to reject commissions, letting them filter clients independently.</li>
          </ul>
      </section>

      <section id="streamlined">
        <h3>Streamlined Experience</h3>
        <p>ImageHex streamlines the commission process once it's underway.
        Describing what you want is easy, and artists are provided a central location for all information on a commission.</p>

        <ul id="streamlined-list" class="feature-sublist">
          <li>A commission overview lets you describe the big picture, or even attach similar images.</li>
          <li>ImageHex lets the user upload information about each subject in a commission independently. Attach a description, reference photos, and even a tag group, to make it clear exactly what you want, for everything in the image.</li>
          <li>Artists can ask clients clarifying questions as they work.</li>
          <li>Artists can read descriptions, view reference material, communicate with their client, and keep track of deadlines, all from one page.</li>
        </ul>
      </section>
    </section>


    <h3>Sign up for our newsletter</h3>
    
    <div class="newsletter-sign-up">
      <%# form_for @newsletter do |f| %>
        <%= text_field_tag html: { placeholder: "sarah@example.com" } %>
        <%= submit_tag "Sign up" %>
      <%# end %>
    </div>

    <p>Keep up to date with the development of our Commissions feature. We promise to never send more than one email a month, and you can unsubscribe whenever you want.
  </article>
</div>
