<div id="contact-page-container">
  <nav id="about-nav-container">
    <a href="/about">About</a>
    <a href="/people">People</a>
    <a href="/contact" class="current">Contact</a>
  </nav>

  <div class="about-page-main-column">
    <div class="about-page-header-text">Contact</div>
  </div>
</div>