<div id="contact-page-container">
  <nav id="company-nav-container">
    <ul class="company-nav">
      <li><a href="/about">About</a>
      <li><a href="/people">People</a>
      <li><a href="/contact" class="current">Contact</a>
    </ul>
  </nav>

  <div class="company-page-main-column">
  </div>
</div>