<%- title "Guidelines" %>
<% cache "guidelines", expires_in: 1.day do %>
  <article class="imagehex-static-page-container" id="rules">
    <h1>Guidelines</h1>
    <div class="imagehex-static-text">
      <%= render 'static_stuff/guidelines' %>
    </div>
  </article>
<% end %>
