<%- title t(".help") %>
<% cache "help", expires_in: 1.day do %>
  <div class="imagehex-static-page-container">

    <h2><%= t(".help") %></h2>

    <div class="imagehex-static-text">

    </div>

  </div>
<% end %> 
