<%- title t(".people") %>

<% cache "people", expires_in: 1.day do %>
  <div class="people-page-container">
    <%= render "static_stuff/company_nav" %>

    <div class="company-page-main-column">
      <div class="people-page-list-container">

        <div class="people-page-list-item">
          <div class="people-page-list-item-photo">
            <img src=<%= asset_path("people/anthony-super.jpg") %>>
          </div>
          <p class="people-page-list-item-name">Anthony Super</p>
          <p class="people-page-list-item-job-title">Founder, Developer</p>
          </div>

          <div class="people-page-list-item">
            <div class="people-page-list-item-photo">
              <%= image_tag "default-avatar.svg" %>
            </div>
            <p class="people-page-list-item-name">Ciprian Florescu</p>
            <p class="people-page-list-item-job-title">Contractor, Developer</p>
          </div>
      </div>
    </div>
  </div>
<% end %> 
