<div id="people-page-container">
  <nav id="company-nav-container">
    <a href="/about">About</a>
    <a href="/people" class="current">People</a>
    <a href="/contact">Contact</a>
  </nav>

  <div class="company-page-main-column">
    <div class="company-page-header-text">People</div>
  </div>
</div>