<div id="people-page-container">
  <%= render "static_stuff/company_nav" %>

  <div class="company-page-main-column">
    <div id="people-page-list-container">

      <div class="people-page-list-item">
        <div class="people-page-list-item-photo">
          <img src="/people/anthony-super.jpg">
        </div>
        <p class="people-page-list-item-name">Anthony Super
        <p class="people-page-list-item-job-title">Founder, Developer
      </div>

      <div class="people-page-list-item">
        <div class="people-page-list-item-photo">
          <img src="/people/connor-shea.jpg">
        </div>
        <p class="people-page-list-item-name">Connor Shea
        <p class="people-page-list-item-job-title">Founder, Designer
      </div>

    </div>
  </div>
</div>