<div id="people-page-container">
  <nav id="company-nav-container">
    <ul class="company-nav">
      <li><a href="/about">About</a>
      <li><a href="/people" class="current">People</a>
      <li><a href="/contact">Contact</a>
    </ul>
  </nav>

  <div class="company-page-main-column">
    <ul id="people-page-list-container">
      
      <li class="people-page-list-item">
        <img class="people-page-list-item-photo">
        <p class="people-page-list-item-name">Anthony Super
        <p class="people-page-list-item-job-title">Founder, Developer
      </li>

      <li class="people-page-list-item">
        <img class="people-page-list-item-photo">
        <p class="people-page-list-item-name">Connor Shea
        <p class="people-page-list-item-job-title">Founder, Designer
      </li>
    
    </ul>
  </div>
</div>