<div id="people-page-container">
  <nav id="company-nav-container">
    <a href="/about">About</a>
    <a href="/people" class="current">People</a>
    <a href="/contact">Contact</a>
  </nav>

  <div class="company-page-main-column">
    <div class="company-page-header-text">People</div>
    <div id="people-page-list-container">
      
      <div class="people-page-list-item">
        <img class="people-page-list-item-photo">
        <p class="people-page-list-item-name">Anthony Super</p>
        <p class="people-page-list-item-job-title">Founder, Developer</p>
      </div>
      <div class="people-page-list-item">
        <img class="people-page-list-item-photo">
        <p class="people-page-list-item-name">Connor Shea</p>
        <p class="people-page-list-item-job-title">Founder, Designer</p>
      </div>
    
    </div>
  </div>
</div>