<%- title t(".press_kit") %>

<div class="imagehex-static-page-container">
  
  <h2><%= t(".press_kit") %></h2>

  <div class="imagehex-static-text">
    <%= render "static_stuff/press" %>
  </div>

</div>
