<%- title t(".press_kit") %>
<% cache "press", expires_in: 1.day do %> 
<div class="imagehex-static-page-container">
  
  <h2><%= t(".press_kit") %></h2>

  <div class="imagehex-static-text">
    <%= render "static_stuff/press" %>
  </div>

</div>
<% end %>
