<%- title t(".rules") %>
<% cache "rules", expires_in: 1.day do %>

<article class="imagehex-static-page-container" id="rules">

  <h1><%= t(".rules") %></h1>

  <div class="imagehex-static-text">
    <%= render "static_stuff/rules" %>
  </div>

</article>
<% end %>
