<article id="rules">
<header><h1>Rules</h1></header>
ImageHex tries to have a simple, easy-to-follow set of rules.
We outline them here.
<section>
<h2>Content</h2>
ImageHex tries to be very liberal in the content it allows.
We want to be a place to share art, not a place to censor art.
However, we do have some rules.
<section>
<h3>Disallowed Content</h3>
The following content is never allowed, for any reason.
Uploading content of this nature may get your IP Adress 
<ul>
  <li>Any content against the law in any state in the United States
  <li>Any sexually explicit content of a minor
</ul>
</section>
<section>
<h3>Content that must be tagged</h3>
Some content is allowed on imagehex, but is required to be flagged when the image is uploaded.
If content of this nature is not flagged, it may result in an immediate ban.
Unless otherwise noted, images with any of these flags are not visible by default.
They may become visible by altering your <a href="/settings">settings.</a>
<dl>
  <dt>NSFW - Gore</dt>
  <dd>
  Images depicting serious injuries.
  This tag also applies to excessive blood and medical images.
  </dd>
  <dt>NSFW - Language</dt>
  <dd>
  Images containing excessive profanity.
  If you cannot say it on public television, it probably needs this tag.
  Note that this tag is the only one of these filters which is visible by 
  default.
  If you wish to disable it, you must uncheck it in your <a href="/settings">settings</a>
  </dd>
  <dt>NSFW - Nudity</d2>
  <dd>
  Images depicting exposed genitalia.
  </dd>
  <dt>NSFW - Sexuality</dt>
  <dd>
  Images depicting sexuality, including explicit depictions of arousal or
  sexual intercourse. Note that these images will always also have the
  "NSFW - Nudity" flag on them as well.
  </dd>
</dl>
</section>
</article>
