<%= form_for [@product, @offer], html: {id: "commission-offer-form"} do |f| %>
  <div id="offer-form-react-container"
    data-product-id="<%= @product.id %>">
    <span>
      One moment...
    </span>
  </div>
  <%= f.submit %> 
<% end %>
