<li class="options-item">
  <div class="options-header">
    <h3><%= option.name %></h3>
    <% unless @listing.quote_only? %>
      <% if option.price == 0 %> 
        <strong>Free</strong>
      <% else %>
        <strong><%= price option.price %></strong>
      <% end %>
    <% end %>
  </div>
  <div class="markdown-description">
    <%= markdown_parse option.description %>
  </div>
</li>
