@import "variables";

// ==============================================
//  "New collection" page
// ==============================================

.new-collection-container {
  display: flex;
  flex-flow: column wrap;
  width: 500px;
  padding: 10px;
  margin: auto;
  margin-top: 100px;
  position: relative;

  @media #{$mobile} {
    width: 100vw;
    margin-top: 40px;
  }
}

#new-collection-description {
  resize: vertical;
  max-height: 250px;
}


// ==============================================
//  Collection page
// ==============================================

#collection-page-container {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}

#collection-page-header {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  box-shadow: 0 0 5px 5px rgba(#000, .1);
  background-color: #fff;
  width: 100%;
  height: auto;
  padding: 20px 40px;
  z-index: 100;

  @media #{$mobile} {
    flex-flow: column wrap;
    position: relative;
    width: 100%;
    box-shadow: none;
    min-height: 0;
    padding: 20px;
    text-align: center;
  }
}

#collection-page-info-container {
  position: relative;
  width: calc(100% - 200px);

  @media #{$mobile} {
    width: 100%;

    > p {
      padding-bottom: 8px;
    }
  }
}

.collection-page-title {
  font-size: 2.1rem;
  font-weight: 500;

  @media #{$mobile} {
    font-size: 2.4rem;
  }
}

.collection-page-description {
  font-size: 1.4rem;
  font-weight: 300;

  @media #{$mobile} {
    font-size: 1.6rem;
  }
}

.collection-page-curators {
  font-size: 1.4rem;
  font-weight: 300;

  @media #{$mobile} {
    font-size: 1.6rem;
  }
}

#collection-follow,
#collection-unfollow {
  width: 200px;
  height: 32px;
  right: 0;
}

#collection-images-container {
  margin: 10px 30px;
  width: calc(100% - 60px);

  @media #{$mobile} {
    width: 100%;
    margin: 0;
  }
}


// ==============================================
//  Collection preview
// ==============================================

.collections-list-container {
  display: flex;
  padding: 15px;
  flex-flow: row wrap;
  align-items: inherit;
  justify-content: flex-start;
}

// Collected preview styles
// Collection preview, e.g. on user pages.
.collection-preview {
  background-color: #fff;
  border-radius: 3px;
  margin: 8px;
  position: relative;
  width: calc(25% - 16px);
  max-width: 35%;
  min-width: 220px;
  height: auto;
  overflow: hidden;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .25);
  border: 1px solid rgba(201, 201, 201, 0.7);
  transition: border 200ms, box-shadow 300ms;

  > a {
    display: block;
    text-decoration: none;
  }

  .collection-information {
    color: #333;
    padding: 10px 20px 15px;

    .collection-title {
      font-size: 1.6rem;
      font-weight: 500;
      padding: 4px 0;
    }

    .collection-description {
      font-size: 1.4rem;
    }
  }

  .collection-thumbnail {
    width: 100%;
    height: 18vw;
    overflow: hidden;

    img {
      object-fit: cover;
      max-width: 100%;
      min-height: 100%;
      width: 100%;
    }
  }

  &:hover {
    border: 1px solid rgba(201, 201, 201, 1.0);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25), 2px 2px 6px 0 rgba(0, 0, 0, 0.1);
  }

  @media #{$mobile} {
    width: 100%;
    max-width: 100%;
    flex: 1 1 45%;

    .collection-thumbnail {
      height: 40vw;
    }
  }
}
