<p>Hello <%= @user.name %>!</p>

<p>Two-Factor Authentication has been successfully enabled for your account on ImageHex.</p>

<p>If you didn't request this, please go to <%= link_to "your settings", settings_url %> and disable Two-Factor Authentication.</p>

<p>If you believe someone else has access to your account, we'd strongly recommend changing your password.</p>
