<%# render the tag_group in group %>
<% if tag_group.id %>
  <div class="generic-tag-group" 
    data-editform="<%= edit_image_tag_group_path(@image, tag_group) %> #edit-group"
    data-toggle=".edit-generic-tag-group">

    <% tag_group.tags.each do |t| %>
      <div class="generic-tag">
        <%= t.display_name %>
      </div>
    <% end %>

    <div class="edit-generic-tag-group"></div>
  </div>

<% end %>
