<%# render the tag_group in group %>
<% if tag_group.id %>
  <div class="tag-group-show" 
    data-editform="<%= edit_image_tag_group_path(@image, tag_group) %> #edit-group"
    data-toggle=".form-toggle">
    <% tag_group.tags.each do |t| %>
      <div class="tag-box">
        <%= t.display_name %>
      </div>
    <% end %>
    <div class="form-toggle">
      Edit
    </div>
  </div>

<% end %>
