<%# render the tag_group in group %>
<% if tag_group.id %>
  <div class="generic-tag-group" 
    data-editform="<%= edit_image_tag_group_path(@image, tag_group) %> #edit-group"
    data-toggle=".edit-generic-tag-group">

    <div class="edit-generic-tag-group"></div>

    <ul class="generic-tag-list">
      <% tag_group.tags.alphabetic.all.each do |t| %>
        <li class="generic-tag"><%= t.display_name %>
      <% end %>
    </ul>
  </div>

<% end %>
