<%# render the tag_group in group %>
  <div class="tag_group_show">
<% tag_group.tags.each do |t| %>
  <div class="tag_box">
  <%= t.name %>
  </div>
<% end %>
<div class="tag_group_links"%>
<%= link_to "edit", edit_image_tag_group_path(@image, tag_group) %>
</div>
</div>
