<%# Render the tag_group in group %>
<% if tag_group.id %>
  <div class="generic-tag-group" 
    data-editform="<%= edit_image_tag_group_path(@image, tag_group) %> #edit-group"
    data-toggle=".edit-generic-tag-group">

    <%# Show edit button only if user is logged in. %>
    <% if user_signed_in? %>
      <div class="edit-generic-tag-group"></div>
    <% end %>
    <%= link_to " Changes",  image_tag_group_changes_path(@image, tag_group), {class: "tag-group-change-icon"} %>
    <ul class="generic-tag-list">
      <% tag_group.tags.alphabetic.all.each do |t| %>
        <li class="generic-tag"><%= link_to t.display_name, t %>
      <% end %>
    </ul>
  </div>

<% end %>
