<%# render the tag_group in group %>
<div class="tag-group-show">

  <% tag_group.tags.each do |t| %>
    <div class="tag-box">
    <%= t.name %>
    </div>
  <% end %>

  <div class="tag-group-links"%>
    <%= link_to "edit", edit_image_tag_group_path(@image, tag_group) %>
  </div>

</div>
