@-webkit-keyframes alertAnimation {
  /* line 2, /Users/connor/Programming/ImageHex/app/assets/stylesheets/errors.css.scss */
  0% {
    display: block;
    transform: none;
    -webkit-transform: none;
  }

  /* line 8, /Users/connor/Programming/ImageHex/app/assets/stylesheets/errors.css.scss */
  5% {
    transform: translate3d(0, 40px, 0);
    -webkit-transform: translate3d(0, 40px, 0);
  }

  /* line 13, /Users/connor/Programming/ImageHex/app/assets/stylesheets/errors.css.scss */
  95% {
    transform: translate3d(0, 40px, 0);
    -webkit-transform: translate3d(0, 40px, 0);
  }

  /* line 18, /Users/connor/Programming/ImageHex/app/assets/stylesheets/errors.css.scss */
  99% {
    transform: none;
    -webkit-transform: none;
  }

  /* line 23, /Users/connor/Programming/ImageHex/app/assets/stylesheets/errors.css.scss */
  100% {
    display: none;
  }
}

@keyframes alertAnimation {
  /* line 29, /Users/connor/Programming/ImageHex/app/assets/stylesheets/errors.css.scss */
  0% {
    display: block;
    transform: none;
    -webkit-transform: none;
  }

  /* line 35, /Users/connor/Programming/ImageHex/app/assets/stylesheets/errors.css.scss */
  8% {
    transform: translate3d(0, 40px, 0);
    -webkit-transform: translate3d(0, 40px, 0);
  }

  /* line 40, /Users/connor/Programming/ImageHex/app/assets/stylesheets/errors.css.scss */
  92% {
    transform: translate3d(0, 40px, 0);
    -webkit-transform: translate3d(0, 40px, 0);
  }

  /* line 45, /Users/connor/Programming/ImageHex/app/assets/stylesheets/errors.css.scss */
  99% {
    display: block;
    transform: none;
    -webkit-transform: none;
  }

  /* line 51, /Users/connor/Programming/ImageHex/app/assets/stylesheets/errors.css.scss */
  100% {
    display: none;
  }
}

/* line 56, /Users/connor/Programming/ImageHex/app/assets/stylesheets/errors.css.scss */
.alert {
  animation: alertAnimation 6000ms linear 300ms 1 normal forwards;
  -webkit-animation: alertAnimation 6000ms linear 300ms 1 normal forwards;
  transform: translate3d(0, -40px, 0);
  -webkit-transform: translate3d(0, -40px, 0);
  display: block;
  position: fixed;
  width: 100vw;
  height: 40px;
  z-index: 999;
  padding: 10px 40px;
  margin: 0px;
  top: 0px;
  left: 0px;
}
/* line 72, /Users/connor/Programming/ImageHex/app/assets/stylesheets/errors.css.scss */
.alert p {
  font-size: 1.4em;
  line-height: 20px;
  font-weight: 400;
  color: #FFFFFF;
}

/* line 80, /Users/connor/Programming/ImageHex/app/assets/stylesheets/errors.css.scss */
.alert-success {
  background-color: #5BB289;
}

/* line 84, /Users/connor/Programming/ImageHex/app/assets/stylesheets/errors.css.scss */
.alert-info {
  background-color: #556DB3;
}

/* line 88, /Users/connor/Programming/ImageHex/app/assets/stylesheets/errors.css.scss */
.alert-warning {
  background-color: #EFB63E;
}

/* line 92, /Users/connor/Programming/ImageHex/app/assets/stylesheets/errors.css.scss */
.alert-danger {
  background-color: #CB2E32;
}
/* line 4, /Users/connor/Programming/ImageHex/app/assets/stylesheets/footer.css.scss */
#footer-container {
  display: block;
  position: relative;
  width: 100vw;
  height: 160px;
  box-sizing: border-box;
  left: 0;
  bottom: 0;
  background-color: #191A1A;
  color: #6d6d6d;
  margin: 0;
  padding: 0;
}

/* line 18, /Users/connor/Programming/ImageHex/app/assets/stylesheets/footer.css.scss */
#footer {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  width: 60%;
  min-width: 700px;
  margin: auto;
  padding: 25px 0px;
}
/* line 27, /Users/connor/Programming/ImageHex/app/assets/stylesheets/footer.css.scss */
#footer a {
  color: #6d6d6d;
  text-decoration: none;
}
/* line 31, /Users/connor/Programming/ImageHex/app/assets/stylesheets/footer.css.scss */
#footer a:hover {
  color: #828282;
}

/* line 37, /Users/connor/Programming/ImageHex/app/assets/stylesheets/footer.css.scss */
.footer-description-column {
  width: 50%;
  height: 100%;
  text-align: left;
  padding: 0px 25px;
}

/* line 44, /Users/connor/Programming/ImageHex/app/assets/stylesheets/footer.css.scss */
.footer-description-title {
  display: block;
  font-size: 1.4em;
  font-weight: 500;
  padding-bottom: 5px;
  color: #828282;
}

/* line 52, /Users/connor/Programming/ImageHex/app/assets/stylesheets/footer.css.scss */
.footer-description-body {
  display: block;
  font-size: 1.2em;
  font-weight: 400;
  padding-bottom: 10px;
}

/* line 59, /Users/connor/Programming/ImageHex/app/assets/stylesheets/footer.css.scss */
.footer-description-copyright {
  display: block;
  font-size: 1.2em;
  font-weight: 500;
  color: #828282;
}

/* line 66, /Users/connor/Programming/ImageHex/app/assets/stylesheets/footer.css.scss */
.footer-links-column {
  width: 25%;
  height: 100%;
  padding: 0px 30px;
}

/* line 72, /Users/connor/Programming/ImageHex/app/assets/stylesheets/footer.css.scss */
.footer-links-list {
  width: 100%;
  list-style: none;
  text-align: left;
  margin: 0;
}
/* line 78, /Users/connor/Programming/ImageHex/app/assets/stylesheets/footer.css.scss */
.footer-links-list li {
  font-size: 1.2em;
  font-weight: 400;
  padding: 4px 0px;
}
/* line 83, /Users/connor/Programming/ImageHex/app/assets/stylesheets/footer.css.scss */
.footer-links-list li:first-of-type {
  padding: 0px 0px 4px 0px;
  font-size: 1.3em;
  font-weight: 500;
  color: #828282;
}
/* line 1, /Users/connor/Programming/ImageHex/app/assets/stylesheets/frontpage.css.scss */
#home-container {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  padding: 20px 40px;
  text-align: center;
}
/* line 1, /Users/connor/Programming/ImageHex/app/assets/stylesheets/signin.css.scss */
#sign-in-container {
  display: block;
  position: relative;
  margin: 50px auto auto auto;
  text-align: left;
  width: 350px;
  border: 1px solid #AAAAB2;
  border-radius: 1px;
  background-color: #FFFFFF;
}
/* line 11, /Users/connor/Programming/ImageHex/app/assets/stylesheets/signin.css.scss */
#sign-in-container .header {
  text-align: center;
  margin-bottom: 10px;
}
/* line 16, /Users/connor/Programming/ImageHex/app/assets/stylesheets/signin.css.scss */
#sign-in-container input[type=submit] {
  width: 100%;
  height: 35px;
  margin-top: 10px;
  text-align: center;
  color: #333333;
  font-weight: 400;
  font-size: 1.4em;
  border: 0px;
  border-top: 1px solid #AAAAB2;
  background-color: #FFFFFF;
  -webkit-appearance: none;
}
/* line 29, /Users/connor/Programming/ImageHex/app/assets/stylesheets/signin.css.scss */
#sign-in-container input[type=submit]:focus {
  border-color: #333333;
  outline: none;
}

/* line 36, /Users/connor/Programming/ImageHex/app/assets/stylesheets/signin.css.scss */
#sign-in {
  padding: 10px;
}

/* line 40, /Users/connor/Programming/ImageHex/app/assets/stylesheets/signin.css.scss */
.field {
  width: 330px;
  margin: auto;
  padding: 5px auto 5px auto;
  position: relative;
  color: #333333;
}

/* line 50, /Users/connor/Programming/ImageHex/app/assets/stylesheets/signin.css.scss */
.field input[type=text],
.field input[type=email],
.field input[type=password] {
  width: 330px;
  height: 35px;
  padding: 0px 4px 0px 8px;
  margin: 5px auto;
  border: 1px solid #AAAAB2;
  border-radius: 1px;
  background-color: #FFFFFF;
  color: #333333;
  font-weight: 400;
  font-size: 1.4em;
}
/* line 62, /Users/connor/Programming/ImageHex/app/assets/stylesheets/signin.css.scss */
.field input[type=text]:focus,
.field input[type=email]:focus,
.field input[type=password]:focus {
  border-color: #333333;
  outline: none;
}

/* line 68, /Users/connor/Programming/ImageHex/app/assets/stylesheets/signin.css.scss */
.field input[type=checkbox] {
  border-image: none;
  border: 1px solid #AAAAB2;
  border-radius: 1px;
  width: 16px;
  height: 16px;
  margin: 5px 3px 0px 0px;
  -webkit-appearance: none;
  vertical-align: bottom;
  background-color: transparent;
}
/* line 79, /Users/connor/Programming/ImageHex/app/assets/stylesheets/signin.css.scss */
.field input[type=checkbox]:hover {
  cursor: pointer;
}
/* line 83, /Users/connor/Programming/ImageHex/app/assets/stylesheets/signin.css.scss */
.field input[type=checkbox]:checked {
  border-color: #333333;
}
/* line 87, /Users/connor/Programming/ImageHex/app/assets/stylesheets/signin.css.scss */
.field input[type=checkbox]:focus {
  outline: none;
}

/* line 92, /Users/connor/Programming/ImageHex/app/assets/stylesheets/signin.css.scss */
input[type=checkbox]:checked::after {
  background-color: #FF0004;
  height: 14px;
  width: 14px;
}

/* line 98, /Users/connor/Programming/ImageHex/app/assets/stylesheets/signin.css.scss */
.field label {
  display: inline-block;
  font-weight: 400;
  font-size: 1.4em;
}

/* line 104, /Users/connor/Programming/ImageHex/app/assets/stylesheets/signin.css.scss */
.actions {
  margin: auto;
  padding: 5px auto;
  position: relative;
  color: #333333;
}
/* line 111, /Users/connor/Programming/ImageHex/app/assets/stylesheets/signin.css.scss */
.actions input[type=submit]:hover {
  cursor: pointer;
}

/* line 117, /Users/connor/Programming/ImageHex/app/assets/stylesheets/signin.css.scss */
#sign-in-extras-container {
  display: block;
  position: relative;
  margin: 10px auto;
  left: 0;
  right: 0;
  padding: 0;
  width: 360px;
  height: auto;
  text-align: left;
}
/* line 128, /Users/connor/Programming/ImageHex/app/assets/stylesheets/signin.css.scss */
#sign-in-extras-container a {
  width: 100%;
  text-decoration: none;
  margin: 0px 5px;
}

/* line 135, /Users/connor/Programming/ImageHex/app/assets/stylesheets/signin.css.scss */
.sign-in-extras-row {
  display: flex;
  width: 100%;
  margin: 10px 0px;
}

/* line 141, /Users/connor/Programming/ImageHex/app/assets/stylesheets/signin.css.scss */
.sign-in-extras-half, .sign-in-extras-full {
  display: inline-flex;
  position: relative;
  height: 35px;
  flex-flow: column nowrap;
  border: 1px solid #AAAAB2;
  border-radius: 1px;
  background-color: #FFFFFF;
  color: #333333;
  font-weight: 400;
  font-size: 1.4em;
  text-align: center;
  text-decoration: none;
  padding: 8px 0px;
}

/* line 157, /Users/connor/Programming/ImageHex/app/assets/stylesheets/signin.css.scss */
.sign-in-extras-half {
  flex: 1;
  width: 100%;
}

/* line 162, /Users/connor/Programming/ImageHex/app/assets/stylesheets/signin.css.scss */
.sign-in-extras-full {
  flex: 1;
  width: 100%;
}

/* line 167, /Users/connor/Programming/ImageHex/app/assets/stylesheets/signin.css.scss */
.sign-in-extras-text {
  width: 100%;
}
/* line 1, /Users/connor/Programming/ImageHex/app/assets/stylesheets/static_stuff.css.scss */
#header-container {
  display: block;
  position: fixed;
  width: 100vw;
  height: 40px;
  box-sizing: border-box;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: #333333;
  color: #FFFFFF;
  text-align: right;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
/* line 17, /Users/connor/Programming/ImageHex/app/assets/stylesheets/static_stuff.css.scss */
#header-container a {
  display: inline-block;
  color: #FFFFFF;
}
/* line 22, /Users/connor/Programming/ImageHex/app/assets/stylesheets/static_stuff.css.scss */
#header-container p {
  display: inline-block;
}

/* line 27, /Users/connor/Programming/ImageHex/app/assets/stylesheets/static_stuff.css.scss */
#header-left {
  position: absolute;
  display: inline-block;
  text-align: left;
  left: 40px;
  top: 12px;
}
/* line 34, /Users/connor/Programming/ImageHex/app/assets/stylesheets/static_stuff.css.scss */
#header-left a {
  font-size: 1.4em;
  font-weight: 400;
  color: #AAAAB2;
  text-decoration: none;
}
/* line 40, /Users/connor/Programming/ImageHex/app/assets/stylesheets/static_stuff.css.scss */
#header-left a:hover {
  color: #FFFFFF;
}

/* line 46, /Users/connor/Programming/ImageHex/app/assets/stylesheets/static_stuff.css.scss */
#header-right {
  position: absolute;
  display: inline-block;
  text-align: right;
  right: 40px;
  top: 12px;
}
/* line 53, /Users/connor/Programming/ImageHex/app/assets/stylesheets/static_stuff.css.scss */
#header-right a {
  font-size: 1.4em;
  font-weight: 400;
  color: #AAAAB2;
  text-decoration: none;
}
/* line 59, /Users/connor/Programming/ImageHex/app/assets/stylesheets/static_stuff.css.scss */
#header-right a:hover {
  color: #FFFFFF;
}

/* line 65, /Users/connor/Programming/ImageHex/app/assets/stylesheets/static_stuff.css.scss */
#masthead {
  margin-top: 40px;
  display: inline-block;
  position: relative;
  min-height: calc(100vh - 200px);
  width: 100vw;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */


* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-weight: 400;
  background-color: #F0F0F0;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

h1 {
  font-size: 3.2em;
}

h2 {
  font-size: 2.8em;
}

h3 {
  font-size: 2.4em;
}

h4 {
  font-size: 2.1em;
}

h5 {
  font-size: 1.8em;
}

p {
  margin: 0;
}
