<div class="sign-in-container">
  <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), method: :post) do |f| %>

    <div class="sign-in-fields">
      <div class="field">
        <%= f.email_field :email, autofocus: true, placeholder: t(".email") %>
      </div>
    </div>

    <%= f.submit t(".resend_unlock_instructions") %>
  <% end %>
</div>

<div class="sign-in-extras-container">
  <%= render "devise/shared/links" %>
</div>
