@import "scss-variables";

.image-picker-list {
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
}

.image-picker-item {
  padding: 5px;
  margin: 5px;
  border: 3px solid rgba(#fff, 0.0);
  transition: border 500ms ease-out;

  &.selected {
    border: 3px solid green;
  }
}
