@import "variables";

// ==============================================
//  General
// ==============================================

.image-actions-sidebar {
  width: 20vw;
  background-color: #272727;
  display: flex;
  align-items: flex-end;

  @media #{$mobile} {
    width: 100vw;
  }
}

.image-actions-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  padding-bottom: 15px;
  position: relative;

  > a {
    position: relative;
  }

  a,
  #img-action-favorited,
  #img-action-favorite {
    font-size: 1.4rem;
    font-weight: 300;
    width: 100%;
    text-decoration: none;
    color: rgba(#fff, 0.8);

    &:hover {
      color: rgba(#fff, 1.0);
    }

    @media #{$mobile} {
      width: auto;
      p {
        display: none;
      }
    }
  }

  @media #{$mobile} {
    padding-bottom: 4px;
  }
}

.image-actions {
  width: 100%;
  height: 40px;
  padding: 10px 20px;
  cursor: pointer;

  &:hover {
    background-color: #333;
    color: rgba(#fff, 1.0);

    @media #{$mobile} {
      background-color: transparent;
    }
  }
  
  > a > p,
  > p {
    padding-left: 40px;
  }

  > a > span::before,
  span::before {
    color: rgba(#fff, 0.8);
    font-size: 2.1rem;
    transform: translate(5px, -4px);
  }

  @media #{$mobile} {
    padding: 10px;
    overflow: hidden;
    white-space: nowrap;
    width: 40px;
    height: 40px;
  }
}

.image-actions-tooltip {
  max-width: 300px;
  min-width: 225px;
  width: auto;
  height: auto;
  max-height: 600px;
  position: absolute;
  z-index: 50;
  right: calc(100% + 6px);
  background: #fff;
  color: #333;
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  display: none;

  .agree-button {
    display: inline-block;
    height: 36px;
    width: 100%;
    background-color: #5bb289;
    text-align: center;
    padding: 9px;
    margin-top: 3px;
    border-radius: 0 0 3px 3px;
  }

  > p {
    padding: 12px;
    font-size: 1.3rem;
    line-height: 17px;
  }

  .tooltip-title {
    pointer-events: none;
    padding: 10px 12px;
    font-size: 1.2rem;
    line-height: 17px;
    text-transform: uppercase;
    color: #333;
    font-weight: 500;
  }

  &.inactive {
    display: none;
  }

  // A dumb CSS hack to increase the specifity of this selector and 
  // override the .active class. This ensures that the element will not
  // be shown, without relying on an "!important" declaration.
  // scss-lint:disable ChainedClasses
  &.not-signed-in.not-signed-in {
    display: none;
  }
  // scss-lint:enable ChainedClasses

  &.active {
    display: block;
  }

  // Tooltip triangle
  &::after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    right: -14px;
    border-width: 0 10px 10px;
    border-style: solid;
    transform: rotate(90deg);
    border-color: #fff transparent;
  }

  @media #{$mobile} {
    width: 100vw;
    // Height of the page minus the height of the header.
    height: calc(100vh - 50px);
    top: 50px;
    position: fixed;
    left: 0;
    max-width: 100vw;

    &::after {
      display: none;
    }
  }
}

@media #{$mobile} {
  #img-action-favorited,
  #img-action-favorite {
    > a > span::before {
      transform: translate(5px, -1px);
    }
  }
}


// ==============================================
//  Download
// ==============================================

#img-action-download-tooltip {
  top: -25px;
  
  a {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
  }

  &::after {
    top: 38px;
  }

  @media #{$mobile} {
    top: 50px;
  }
}


// ==============================================
//  Favorite
// ==============================================

.image-actions-favorite-container {
  width: 100%;
  cursor: pointer;

  > div > a {
    display: block;
    padding: 10px 20px;
    color: rgba(#fff, 0.8);

    @media #{$mobile} {
      padding: 10px 15px;
    }
  }

  &:hover > div > a {
    color: rgba(#fff, 1.0);
  }

  @media #{$mobile} {
    width: 40px;
  }
}

#img-action-favorite,
#img-action-favorited {
  padding: 0;

  &.active {
    display: inline-block;
  }

  &.inactive {
    display: none;
  }
}


// ==============================================
//  Add a collection
// ==============================================

#collection-add-list-container {
  overflow: hidden;
  border-radius: 3px;

  .imagehex-empty-note-container {
    padding-top: 5px;
    text-align: center;
    min-height: 50px;
  }

  .imagehex-empty-note {
    font-size: 1.2rem;
  }
}


#image-collection-list {
  display: block;
  overflow: hidden;
  border-radius: 3px;
  overflow-y: auto;
  max-height: 400px;

  &::-webkit-scrollbar {
    width: 8px;
    border-radius: 0;
    position: absolute;
    right: 8px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: #fff;
  }
   
  // Handle
  &::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: rgba(#333, 0.7);

    &:hover {
      background-color: rgba(#333, 0.8);
    }
  }
}

.collection-add-list-item {
  width: 100%;
  font-size: 1.3rem;
  font-weight: 300;
  color: rgba(#333, 0.8);
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
  height: 40px;
  text-align: left;
  cursor: pointer;
  padding: 12px;
  overflow: hidden;
  text-overflow: ellipsis;

  p {
    padding-left: 20px;
  }

  .icon {
    display: inline;
  }

  &:hover {
    color: #333;
    background-color: darken(#fff, 5%);
  }

  &:focus {
    outline: transparent;
  }
}

#img-action-collection-tooltip {
  top: -7px;
  cursor: default;
  width: 100%;

  &::after {
    top: 20px;
  }

  @media #{$mobile} {
    top: 50px;
  }
}


// ==============================================
//  Share
// ==============================================

#img-action-share-tooltip {
  width: 275px;
  height: auto;

  a {
    color: #333;
  }

  &::after {
    top: 18px;
  }
}

.share-icons-container {
  width: 100%;
  display: block;
  padding: 0 10px 10px;
}

.share-icon {
  display: inline-block;
  width: 44px;
  height: 44px;
  position: relative;
  margin: 0 2px;
  border-radius: 50%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.0), 0 3px 1px -2px rgba(0, 0, 0, 0.0), 0 2px 5px 0 rgba(0, 0, 0, 0.0);
  transition: background-color 250ms, box-shadow 250ms;

  a {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  &::before {
    position: absolute;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 3.2rem;
    pointer-events: none;
  }

  &:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.35), 0 3px 1px -2px rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  }
}

#share-facebook {
  &::before {
    top: 6px;
    left: 5px;
    content: $icon-facebook;
    font-size: 3.8rem;
  }

  &:hover {
    background-color: $color-facebook;
  }
}

#share-twitter {
  &::before {
    top: 7px;
    left: 9px;
    content: $icon-twitter;
    font-size: 2.7rem;
  }

  &:hover {
    background-color: $color-twitter;
  }
}

#share-google-plus {
  &::before {
    top: 6px;
    left: 9px;
    content: $icon-google-plus;
    font-size: 2.8rem;
  }

  &:hover {
    background-color: $color-google-plus;
  }
}

#share-tumblr {
  &::before {
    top: 5px;
    left: 7px;
    content: $icon-tumblr;
    font-size: 2.8rem;
  }

  &:hover {
    background-color: $color-tumblr;
  }
}

#share-pinterest {
  &::before {
    top: 4px;
    left: 6px;
    content: $icon-pinterest;
  }
  
  &:hover {
    background-color: $color-pinterest;
  }
}



// ==============================================
//  Report
// ==============================================

#img-action-report-tooltip {
  top: -200px;
  cursor: default;

  &::after {
    top: 213px;
  }

  @media all and (max-width: $mobile-width) {
    top: 50px;
  }
}

#report-form {
  width: 100%;
  padding: 0 12px;

  input[type=radio] {
    opacity: 0;
  
    + label {
      color: #555;
      font-size: 1.4rem;
      font-weight: 300;
      margin-left: 8px;
      padding-top: 1px;
      cursor: pointer;
      position: relative;

      &::before {
        position: absolute;
        content: '';
        border: 1px solid #aaaab2;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        background-color: #fff;
        top: 2px;
        left: -22px;
      }

      &::after {
        position: absolute;
        content: '';
        border: 4px solid transparent;
        border-radius: 50%;
        top: 6px;
        left: -18px;
      }
    }
  }

  input[type=radio]:checked + label {
    color: #333;

    &::before,
    &::after {
      border-color: #333;
    }
  }

  .report-row {
    display: flex;
    padding: 4px 0;
  }

  p {
    color: #333;
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 4px;
  }

  textarea {
    width: 100%;
    height: 75px;
    max-height: 125px;
    border: 1px solid #aaaab2;
    background-color: transparent;
    resize: vertical;
    color: #333;
    font-size: 1.4rem;
    padding: 5px;

    &:focus {
      outline: transparent;
      border: 1px solid #333;
    }
  }

  .report-buttons {
    text-align: right;
    display: block;
    padding-bottom: 10px;

    input[type="submit"],
    button[type="reset"] {
      background-color: transparent;
      border: 0;
      font-size: 1.3rem;
      margin-top: 4px;
      cursor: pointer;
      color: #333;

      &:focus {
        outline: transparent;
      }
    }

    button[type="reset"] {
      color: #aaaab2;
      transition: color 300ms;
      margin-right: 5px;

      &:hover {
        color: #333;
      }
    }
  }
}


// ==============================================
//  Delete
// ==============================================

#img-action-delete {
  transition: background-color 200ms;

  &:hover {
    background-color: rgba($color-danger, 0.8);
  }
}
