@import "variables";


.browse-form {
  transform: 0.5s ease-in-out;
  padding: 5px;
  display: flex;
  flex-direction: row;

  .order-select-container {
    margin-left: 5px;
    margin-right: 5px;

    label {
      margin-right: 5px;
    }

    select {
      text-align: center;
      padding-right: 10px;
    }

  }

  input[type="submit"] {
    border-radius: 1px;
    background-color: $logo-green;
    color: white;
    border: 0px;
  }

  @media #{$mobile} {

    .order-select-container {
      display: flex; 
      justify-content: center;
      flex: 1 1 auto;
      width: 50%;
    }

    input[type="submit"] {
      flex: 1 1 auto;
      width: 50%;
    }

    padding-left: 19px;
    padding-right: 19px;
    flex-flow: row nowrap;
    font-size: 1.5rem;
  }
}

#image-browse-container {
  display: flex;
  flex-direction: column;
}

.image-gallery {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: 15px;
  justify-content: flex-start;
  align-items: center;
}

.image-gallery-item {
  margin: 4px;
  overflow: hidden;
  width: calc(20% - 16px);
  height: auto;

  a {
    display: block;
    height: 100%;
    width: 100%;

    img {
      object-fit: cover;
      object-position: 50% 0;
      width: 100%;
      height: 100%;
    }
  }

  @media #{$mobile} {
    flex: 3 1 100%;
    max-width: 100%;
    max-height: 100vh;
  }
}
