#image-creator-info {
  margin: 4px 0 4px 0;

  p {
    font-size: 1.3rem;
  }
}

.image-source-link {
  display: block;
}

.image-creator-item {
  display: flex;
  flex-flow: row wrap;

  &:last-of-type {
    padding-bottom: 6px;
  }
}

#image-creator-list-label {
  margin: 6px 0 10px;
  display: block;
}

.creator-avatar {
  width: 40px;
  height: 40px;

  img {
    width: 100%;
    height: 100%;
  }
}
