@import "variables";

.image-gallery {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: 15px;
  justify-content: flex-start;
  align-items: center;
}

.image-gallery-item {
  margin: 4px;
  overflow: hidden;
  width: calc(20% - 16px);
  height: auto;

  a {
    display: block;
    height: 100%;
    width: 100%;

    img {
      object-fit: cover;
      object-position: 50% 0;
      width: 100%;
      height: 100%;
    }
  }

  @media #{$mobile} {
    flex: 3 1 100%;
    max-width: 100%;
    max-height: 100vh;
  }
}
