@import "variables";


.browse-form {
  transform: 0.5s ease-in-out;
  padding: 5px;
  display: flex;
  flex-direction: row;

  .order-select-container {
    margin-left: 5px;
    margin-right: 5px;

    label {
      margin-right: 5px;
    }

    select {
      text-align: center;
      padding-right: 10px;
    }

  }

  input[type="submit"] {
    border-radius: 1px;
    background-color: $logo-green;
    color: #fff;
    border: 0;
  }

  @media #{$mobile} {
    padding-left: 19px;
    padding-right: 19px;
    flex-flow: row nowrap;
    font-size: 1.5rem;

    .order-select-container {
      display: flex; 
      justify-content: center;
      flex: 1 1 auto;
      width: 50%;
    }

    input[type="submit"] {
      flex: 1 1 auto;
      width: 50%;
    }
  }
}

#image-browse-container {
  display: flex;
  flex-direction: column;
}

.image-gallery {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: 15px;
  align-items: center;
  justify-content: space-between;
}

.image-gallery-item {
  overflow: hidden;
  flex-basis: auto;
  margin: 4px;
  height: 15vw;

  img {
    display: block;
    width: auto;
    max-height: 100%;
  }

  @media #{$mobile} {
    width: calc(100% - 8px);
    max-height: 200vh;
  }
  
  &:last-of-type {
    flex-grow: 1;
  }
}

.gallery-item-small {
  height: 150px;
}
