.image-picker-list{
  display: flex;
  flex-flow: row wrap;
  padding: 10px;
}

.image-picker-item{
  padding: 5px;
  margin: 5px;
  border: 3px solid rgba(255, 255, 255, 0.0);
  &.selected{
    border: 3px solid green;
  }
  transition: border 500ms ease-out;
}
