<% notifications.order('created_at DESC').each do |note| %>
  <li class="notifications-list-item">
  <a href="<%= notification_path(note) %>">
    <%= t(".#{note.kind}", username: note.subject[:user_name] ) %>

    <%# "Time ago" for notification %>
    <p class="notification-time-ago"><%= time_ago_in_words(note.created_at) + " " + t(".ago") %></p>
    </li>
  </a>
<% end %>
