<div class="notifications-container">
  <div class="notifications-header">
    <h3><%= t(".notifications_header") %></h3>

    <%= link_to t(".mark_all_read"), mark_all_read_notifications_path, class: "mark-all-read", method: :post, remote: true %>
  </div>

  <ul>
    <%= render "notifications/notifications_list", notifications: current_user.notifications %>
  </ul>
</div>
