@import "variables";

// Container for the footer
.footer-container {
  background-color: $footer-color;
  bottom: 0;
  color: $footer-unemph-text;
  display: block;
  min-height: 160px;
  left: 0;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100vw;

  @media #{$mobile} {
    height: auto;
  }
}

// Footer div itself.
.footer {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  margin: auto;
  min-width: 700px;
  padding: 25px 0;
  width: 60%;

  a {
    color: $footer-unemph-text;
    text-decoration: none;

    &:hover {
      color: $footer-emph-text;
    }
  }

  // Styles for the ImageHex logo in the footer
  img {
    opacity: 0.7;
    height: 45px;
    pointer-events: none;
  }

  @media #{$mobile} {
    min-width: auto;
    width: 100%;
  }
}

// First column in the footer for the description, copyright, etc.
.footer-description-column {
  height: 100%;
  padding: 0 25px;
  text-align: left;
  width: 50%;

  @media #{$mobile} {
    width: 100vw;
  }
}

// Body text in the description column.
.footer-description-body {
  display: block;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  padding-bottom: 10px;

  @media #{$mobile} {
    font-size: 1.6rem;
  }
}

// Copyright text in the description column.
.footer-description-copyright {
  color: $footer-emph-text;
  display: block;
  font-size: 1.2rem;
  font-weight: 400;

  @media #{$mobile} {
    font-size: 1.5rem;
  }
}

// Second and third columns in the footer, contain links to various sections.
.footer-links-column {
  height: 100%;
  padding: 0 50px;
  width: auto;

  @media #{$mobile} {
    height: auto;
    width: 100vw;
    padding: 0 25px;
  }

  @media #{$desktop} {
    margin-top: 20px;
  }
}

// Unordered list styling for second and third columns.
.footer-links-list {
  list-style: none;
  margin: 0;
  text-align: left;
  width: 100%;

  // Styling for each respective list item.
  li {
    font-size: 1.4rem;
    font-weight: 400;
    padding: 6px 0;
  }

  // Columns vendor prefixes for development
  // scss-lint:disable VendorPrefix
  // Only use columns on desktop.
  @media #{$desktop} {
    display: inherit;
    columns: 100px 2;
    column-gap: 20px;
    column-fill: balance;
    -webkit-columns: 100px 2;
    -webkit-column-gap: 20px;
    -webkit-column-fill: balance;
    // scss-lint:enable VendorPrefix

    li {
      -webkit-column-break-inside: avoid;
    }
  }

  @media #{$mobile} {
    padding-top: 25px;

    li {
      font-size: 1.6rem;
      padding: 12px 0;
    }
  }
}
