@import "variables";

// Container for the header item, always fixed to the top of the screen.
#header-container {
  background-color: $header-color;
  color: $white;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-weight: 300;
  height: $header-height;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  text-align: right;
  top: 0;
  width: 100vw;
  z-index: 1000;
  padding-left: 20px;
  padding-right: 20px;

  @media #{$mobile} {
    height: $header-height-mobile;
  }
}

// Items aligned to the left side of the header.
#header-left {
  display: inline-block;
  height: $header-height;
  text-align: left;

  @media #{$mobile} {
    height: $header-height-mobile;
  }

  #header-home {
    margin-right: 15px;
    width: 160px;

    @media #{$mobile} {
      width: 50px;
    }

    // ImageHex logo with wordmark for desktop browsers.
    .imagehex-header-logo {
      width: 160px;
      height: $header-height;
      background: asset-url("#{$imagehex-header-logo-with-text}") 50% 50% / 110% 110% no-repeat;
      opacity: 0.75;
      transition: 200ms opacity;

      &:hover {
        opacity: 1;
      }

      // Show only the ImageHex logo, no wordmark, for browsers between mobile and laptop size.
      @media all and (min-width: $mobile-width) and (max-width: $laptop-width) {
        width: 40px;
        height: $header-height;
        background: asset-url("#{$imagehex-header-logo}") 50% 50% / 75% 75% no-repeat;
      }

      // Show only the ImageHex logo, no wordmark, for mobile browsers.
      @media all and (max-width: $mobile-width) {
        width: 50px;
        height: $header-height-mobile;
        background: asset-url("#{$imagehex-header-logo}") 50% 50% / 75% 75% no-repeat;
      }
    }
  }

  #header-browse {
    // Prevent elements hitting each other.
    @media #{$mobile} {
      display: none;
    }
  }
}

// Items aligned to the right side of the header.
#header-right {
  display: inline-block;
  text-align: right;
  height: 100%;

  @media #{$mobile} {
    position: absolute;
    right: 0;
    top: $header-height-mobile;
    width: calc(100vw - 90px);
    max-width: 250px;
    height: calc(100vh - #{$header-height-mobile});
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: $header-color;
    z-index: 1000;
    transition: transform 300ms;
    transform: translateX(calc(100vw + 90px));
    padding-top: 10px;

    &.active {
      justify-content: flex-start;
      transform: translateX(0);
    }

    .header-item {
      width: 100%;
      display: block;
      padding: 0;
      font-size: 1.8rem;

      a {
        width: 100%;
        display: block;
        height: 100%;
        padding: 12px 25px;
      }
    }
  }
}



// Header items, e.g. "Sign out", "Upload", etc.
.header-item {
  color: $white;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 400;
  transition: color 300ms ease-in-out;
  vertical-align: top;
  height: 100%;

  &:hover {
    color: $gray;
    text-decoration: none;
  }

  a {
    color: $white;
    text-decoration: none;
    transition: color 300ms ease-in-out;

    &:hover {
      color: $gray;
      text-decoration: none;
    }
  }
}

// Force text to center itself vertically
.header-item-center-text {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#header-create.header-item {
  display: inline-block;
  cursor: pointer;
  margin-right: 4px;
  width: 38px;
  height: $header-height;
  padding: 12px;

  i::before {
    // Firefox hack to get the "+" icon to center within the header-create div.
    // scss-lint:disable VendorPrefix
    -moz-transform: translateX(-13px);
    // scss-lint:enable VendorPrefix
  }

  &.active {
    background-color: $white;
    
    i,
    i::before {
      color: $off-black;
    }
  }

  @media #{$mobile} {
    display: none;
  }
}

// A header item with centered text and an explicit height
// Used entirely for the user bar label right now
.header-item-force-height {
  height: $header-height;
  display: inline-flex;
  flex-direction: row;
  align-items: center;

  @media #{$mobile} {
    height: $header-height-mobile;
  }
}

#header-create-button {
  display: block;

  i {
    &::before {
      color: #fff;
    }
  }
}

.create-dropdown {
  // remove padding from parent
  margin-top: calc(#{$header-height} - 12px);

  @media #{$mobile} {
    // remove padding from parent
    margin-top: calc(#{$header-height-mobile} - 12px);
  }

  // Remove padding from parent
  margin-left: -12px;
  display: inline-block;
  background-color: $white;
  box-shadow: 0 6px 10px 1px rgba($black, 0.05);
  text-align: left;
  white-space: nowrap;

  li {
    display: block;
  }

  a {
    display: block;
    width: 100%;
    text-decoration: none;
    font-size: 1.4rem;
    color: $off-black;

    // Ensure padding on the right side of the list items.
    padding: 10px 50px 10px 10px;

    &:hover {
      color: $off-black;
      background-color: darken($white, 5%);
    }
  }

  &.inactive {
    display: none;
  }
}

#mobile-menu-icon {
  cursor: pointer;
  display: none;
  position: fixed;
  right: 25px;
  width: 50px;
  height: $header-height-mobile;

  &::before {
    color: $white;
    transform: translate(-35px, 15px);
  }

  &.active::before {
    color: $white;
  }

  @media #{$mobile} {
    display: inline-block;
  }
}

#mobile-menu-overlay {
  display: none;
}

@media #{$mobile} {
  #mobile-menu-overlay {
    position: fixed;
    top: $header-height-mobile;
    left: 0;
    width: 100vw;
    height: calc(100vh - #{$header-height-mobile});
    display: block;
    pointer-events: none;
    background-color: rgba($off-black, 0);
    z-index: 999;
    transition: background-color 300ms 0;

    &.active {
      background-color: rgba($off-black, 0.4);
      pointer-events: auto;
      transition: background-color 300ms 300ms;
    }
  }
}

.boxy-item {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
  padding-right: 5px;
  height: auto;
  margin-top: 10px;

  @media #{$mobile} {
    margin-top: 0;
  }

  a {
    height: 100%;
  }
}


