@import "variables";

// ==============================================
//  Account Dropdown
// ==============================================

.user-bar {
  vertical-align: top;
  position: relative;
  width: auto;
  min-width: 200px;
  margin: 0 auto;
  padding: 0;
  cursor: pointer;
  outline: none;
  display: inline-block;
  text-align: left;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  transition: 300ms max-height ease-in-out, 250ms background-color 300ms;
  max-height: 40px;
  overflow: hidden;

  &:hover,
  &:focus {
    background-color: $white;
    color: $off-black;
    max-height: 800px;
    transition: 300ms max-height ease-in-out 250ms, 250ms background-color;
    box-shadow: 0 2px 10px rgba($black, 0.2);

    > div {
      color: $off-black;
    }

    > ul {
      visibility: visible;
      opacity: 1.0;
    }

    &::after {
      transform: rotateZ(-180deg);
      color: $off-black;
    }
  }

  > div {
    padding-left: 5px;
  }

  > ul {
    visibility: hidden;
    opacity: 0;
    transition: 250ms opacity;

    li a,
    li input[type=submit] {
      display: block;
      padding: 10px;
      width: 100%;
      text-decoration: none;
      color: $off-black;
      background-color: transparent;
      border: 0;
      appearance: none;
      -webkit-appearance: none;
      font-size: 1.4rem;
      font-weight: 400;
      text-align: left;
    }

    li:hover a,
    li:hover input[type=submit],
    li:focus a,
    li:focus input[type=submit] {
      background-color: #f4f4f4;
      cursor: pointer;
    }

    li input[type=submit]:focus {
      outline: transparent;
    }
  }

  &::after {
    content: $icon-dropdown;
    font-size: 1.4rem;
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: color 250ms, transform 300ms;
    color: $gray;
  }
}

.header-username {
  display: flex;

  span {
    padding: 0 5px;
  }

  @media #{$mobile} {
    // Disabled because I am lazy
    // scss-lint:disable ImportantRule
    display: none !important;
  }
}

@media #{$mobile} {
  .user-bar {
    position: initial;
    display: auto;
    padding: 0;
    margin: 0;
    background: none;
    width: 100%;
    max-height: 100vh;

    &:hover {
      background-color: transparent;
      box-shadow: none;
    }

    &::after {
      display: none;
    }

    div {
      padding-right: 0;
    }

    ul {
      background: none;
      background-color: $header-color;
      display: inline-block;
      border: 0;
      position: relative;
      opacity: 1.0;
      visibility: visible;
      box-shadow: none;
      top: auto;
      right: auto;
      left: auto;
      bottom: auto;
      font-size: 1.6rem;
      width: 100%;

      li input[type=submit],
      li a {
        padding: 15px 25px;
        font-size: 1.8rem;
        color: $white;
        width: 100%;
      }

      li:hover input[type=submit],
      li:hover a {
        background-color: transparent;
        color: $white;
      }
    }
  }
}
