<div class="collection-preview">

  <%= link_to collection_path(c) do %>
    <div class="collection-thumbnail">
      <% if c.images.for_content(@content).count > 0 %>
        <%= image_tag c.images.for_content(@content).first %>
      <% else %>
        <!-- Placeholder image -->
      <% end %>
    </div>

    <div class="collection-information">
      <p class="collection-title"><%= c.name %>
      
      <% unless c.description.empty? %>
        <p class="collection-description"><%= c.description %>
      <% end %>
    </div>

  <% end %>

</div>
