<div class="creators-list-item">
  <div class="upper-info">
    <div class="creators-list-item-header">
      <%= image_tag creator.avatar(:small) %>
      <%= link_to creator.name, creator %>
    </div>

      <div class="creators-list-item-description">
        <%= markdown_parse creator.description %>
      </div>
  </div>

  <ul class="creators-creations-list">
    <% creator.creations.take(7).each do |c| %>
      <li class="creators-creations-list-item">
        <%= link_to image_tag(c.f(:small)), c %>
      </li>
    <% end %>
  </ul>
</div>
