<div id="user-page-container">
  <div id="user-page-sidebar">

    <div id="user-page-profile-picture">
      <!-- User's profile picture goes here. -->
    </div>

    <p class="user-page-username"><%= @user.name %></p>

    <!-- User's website goes here. -->

    <!-- User bio goes here. -->

  </div>


  <div id="user-content-container">
    <div id="user-page-header-tabs">
      <div class="user-page-header-tab">
        <a href="#">Uploads</a>
      </div>
      
      <div class="user-page-header-tab">
        <a href="#">Collections</a>
      </div>
    </div>

    <div id="user-collections-container">
      <% @collections.each do |c| %>
        <%= render "collection_stub", c: c %>
      <% end %>
    </div>
  
  </div>
</div>
