<nav class="imagehex-tab-container">
  <div class="imagehex-tabs">
    <%= link_to t(".images"), images_path, class: current(images_path) %>
    <%= link_to t(".collections"), collections_path, class: current(collections_path) %>
    <%= link_to t(".creators"), users_path, class: current(users_path) %>
    <%= link_to "Listings", listings_path, class: current(listings_path) %>
  </div>
</nav>
