<%# Pass in a reportable as a subject and this will make a form to %>
<%# report that subject %>

<div id="report-form" data-showon="#img-action-report">
  <%= form_for subject.reports.build, url: url do |f| %>
    
    <% Report.severities.each_pair do |k, v| %>
      <%= radio_button_tag(:severity, k) %>
    <% end %>
    
    <%= f.text_field :message %>
    <%= f.submit %>
  <% end %>
</div>
