<li class="category-section">

  <h2 class="padded-dark-header">
    <%= category.name.pluralize %>
  </h2>
  <ul class="reference-group-list">
    <%= render partial: "reference", collection: references, as: :reference %>
  </ul>
</li>
