#commissions-plan {
  padding-top: 10px;
  padding-bottom: 10vh;
  > section {
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 20px;
  }
  section {
    p {
      margin-bottom: 1rem;
    }
  }
  h1 {
    font-weight: bold;
    font-size: 10rem;
    text-align: center;
  }
  h2 {
    font-weight: bold;
    font-size: 5rem;
    text-align: center;
  }
  font-size: 14pt;
}
.big-subtitle {
  color: #333;
  font-weight: lighter;
  font-size: 3rem;
  text-align: center;
  display: block;
}

#escrow-list {
  li {
    margin-bottom: 1rem;
  }
}
