@import "scss-variables";


/* ==============================================
    People page
   ============================================== */

/* Staff list container. */
#people-page-list-container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

/* List items in the people page. */
.people-page-list-item {
  width: 200px;
  margin: 0 20px 20px 0;
  border-radius: 3px;
  background-color: #fff;
  padding-bottom: 5px;
  border: 1px solid rgba(201, 201, 201, 0.7);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
  text-align: center;

  p {
    pointer-events: none;
  }

  @media all and (max-width: $mobile-width) {
    margin: 10px auto;
  }
}

/* Photos for the Staff page. */
.people-page-list-item-photo {
  background-color: #d6d6d6;
  height: 240px;
  margin-bottom: 4px;
  width: 100%;

  img {
    object-fit: cover;
    height: inherit;
    width: inherit;
  }
}

/* Styling for staff name's displayed below their portrait.. */
.people-page-list-item-name {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 8px 0 4px;
}

/* Job title for staff members. */
.people-page-list-item-job-title {
  font-size: 1.2rem;
  font-weight: 400;
  padding-bottom: 8px;
}

