@import "variables";

#rules {

  h2 {
    padding: 10px;
    background-color: #fff;
    font-size: 20pt;
    font-weight: normal;
  }

  h3 {
    font-size: 18pt;
  }

  h4 {
    font-size: 16pt;
  }
}
