<%- title @tag.display_name %>

<div id="tag-information">
  <header>
  <h1><%= @tag.display_name %></h1>
  <%= link_to t(".edit"), edit_tag_path(@tag) %>
  </header> 
  <div id="tag-description">
    <%= markdown_parse @tag.description %>
  </div>
</div>
<%= render 'images/show_stub', images: @images %>
