<%# This space intentionally left blank. No title needed for the home page. %>
<div class="frontpage-logo frontpage-section alt-background">
  <img src=<%= asset_path("logo/imagehex-color-black-text.svg") %> alt="<%= t(".imagehex") %>">
</div>

<div id="image-list-container">
  <ul class="image-gallery">
    <% @images.each do |img| %>
      <li class="image-gallery-item">
        <%= link_to image_path(img) do %>
          <%= image_tag img.f(:huge) %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
