<%# This space intentionally left blank. No title needed for the home page. %>

<div id="home-container">
  <div id="frontpage-logo">
    <img src="/logo/imagehex-color-black-text.svg" alt="<%= t(".imagehex") %>">
  </div>

  <%= render 'images/show_stub' %>
</div>
