<%# This space intentionally left blank. No title needed for the home page. %>
<div id="home-container">
  <h2>ImageHex</h2>

  <a href="/images/new">Upload an Image</a>
  <br>
  <a href="/images">Images</a>
  <br>
  <a href="/collections/new">Create a new collection</a>
  <br>
  <%= link_to 'Search', search_path %>
  <div id="frontage-subscription-container">
    <% @images.each do |img| %>
      <div class="subscription-image">
        <h1>
          <%= link_to img.collection_name, collection_path(img.collection_id) %>
        </h1>
      <%= link_to image_tag(img.f :medium), image_path(img), {class: "frontpage-image-list-member"} %>
    </div>
    <% end %>
  </div>
  <%= will_paginate @images %>
</div>
