<%# This space intentionally left blank. No title needed for the home page. %>
<div class="home-container">
  <div class="frontpage-logo">
    <img src=<%= asset_path("logo/imagehex-color-black-text.svg") %> alt="<%= t(".imagehex") %>">
  </div>
  <%= render 'images/show_stub', images: @images %>
</div>
