<%# This space intentionally left blank. No title needed for the home page. %>
<div id="home-container">
  <h2>ImageHex</h2>

  <a href="/images/new">Upload an Image</a>
  <br>
  <a href="/images">Images</a>
  <br>
  <a href="/collections/new">Create a new collection</a>
  <br>
  <%= link_to 'Search', search_path %>
  <% @images.each do |img| %>
    <div class="frontpage-image-list-box">
      <%= link_to img.collection_name, collection_path(img.collection_id), {class: "frontpage-image-list-title"} %>
      <%= link_to image_tag(img.f :medium), image_path(img), {class: "frontpage-image-list-member"} %>
    </div>
  <% end %>
</div>
