<%# This space intentionally left blank. No title needed for the home page. %>

<div id="home-container">
  <h2>ImageHex</h2>
  
  <a href="/images/new">Upload an Image</a>
  <br>
  <a href="/images">Images</a>
  <br>
  <%= link_to 'Search', search_path %>
</div>