<div id="home-container">
  <h2>ImageHex</h2>

  <a href="/images/new">Upload an Image</a>
  <br>
  <a href="/images">Images</a>
  <br>
  <a href="/collections/new">Create a new collection</a>
  <br>
  <%= link_to 'Search', search_path %>

  <%= render 'images/show_stub' %>
</div>
