//
// Icon Font: imagehexicons
//


$icon-checkmark: "\f100";
$icon-close: "\f101";
$icon-collection: "\f102";
$icon-danger: "\f103";
$icon-download: "\f104";
$icon-dropdown: "\f105";
$icon-edit: "\f11d";
$icon-facebook: "\f106";
$icon-flag: "\f107";
$icon-folder: "\f108";
$icon-google-plus: "\f11c";
$icon-heart-fill: "\f10a";
$icon-heart-outline: "\f10b";
$icon-help: "\f10c";
$icon-history: "\f10d";
$icon-info: "\f10e";
$icon-location: "\f10f";
$icon-menu: "\f110";
$icon-pinterest: "\f111";
$icon-plus: "\f112";
$icon-quote: "\f113";
$icon-search: "\f114";
$icon-share: "\f115";
$icon-smartphone: "\f11e";
$icon-trash: "\f116";
$icon-tumblr: "\f117";
$icon-tv: "\f118";
$icon-twitter: "\f119";
$icon-upload: "\f11a";
$icon-warning: "\f11b";
