//
// Icon Font: imagehexicons
//

@font-face {
  font-family: "imagehexicons";
  src: font-url("imagehexicons.eot");
  src: font-url("imagehexicons.eot?#iefix") format("embedded-opentype"),
       font-url("imagehexicons.woff") format("woff"),
       font-url("imagehexicons.ttf") format("truetype"),
       font-url("imagehexicons.svg#imagehexicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "imagehexicons";
    src: font-url("imagehexicons.svg#imagehexicons") format("svg");
  }
}

.icon-checkmark:before { content: "\f100"; }
.icon-close:before { content: "\f101"; }
.icon-collection:before { content: "\f102"; }
.icon-danger:before { content: "\f103"; }
.icon-download:before { content: "\f104"; }
.icon-dropdown:before { content: "\f105"; }
.icon-edit:before { content: "\f11d"; }
.icon-facebook:before { content: "\f106"; }
.icon-flag:before { content: "\f107"; }
.icon-folder:before { content: "\f108"; }
.icon-google-plus:before { content: "\f11c"; }
.icon-heart-fill:before { content: "\f10a"; }
.icon-heart-outline:before { content: "\f10b"; }
.icon-help:before { content: "\f10c"; }
.icon-history:before { content: "\f10d"; }
.icon-info:before { content: "\f10e"; }
.icon-location:before { content: "\f10f"; }
.icon-menu:before { content: "\f110"; }
.icon-pinterest:before { content: "\f111"; }
.icon-plus:before { content: "\f112"; }
.icon-quote:before { content: "\f113"; }
.icon-search:before { content: "\f114"; }
.icon-share:before { content: "\f115"; }
.icon-smartphone:before { content: "\f11e"; }
.icon-trash:before { content: "\f116"; }
.icon-tumblr:before { content: "\f117"; }
.icon-tv:before { content: "\f118"; }
.icon-twitter:before { content: "\f119"; }
.icon-upload:before { content: "\f11a"; }
.icon-warning:before { content: "\f11b"; }
