// Icons
$icon-close: '\e800';
$icon-info: '\e801';
$icon-warning: '\e802';
$icon-danger: '\e803';
$icon-success: '\e80a';
$icon-share: '\e804';
$icon-report: '\e805';
$icon-favorite: '\e806';
$icon-notifications: '\e807';
$icon-search: '\e808';
$icon-add: '\e809';
$icon-placeholder: '\e804';

// Mobile values
$mobile-width: 750px;

// Text colors
$emph-text: #828282; // Emphasized text
$unemph-text: #6d6d6d; // Unemphasized text

// Font stack
$font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;
