// Icons
$icon-delete: '\e800';
$icon-info: '\e801';
$icon-warning: '\e802';
$icon-danger: '\e803';
$icon-success: '\e80a';
$icon-share: '\e804';
$icon-report: '\e805';
$icon-favorite: '\e806';
$icon-notifications: '\e807';
$icon-search: '\e808';
$icon-add: '\e809';
$icon-close: '\e80b';
$icon-source: '\e80c';
$icon-transcript: '\e80d';
$icon-location: '\e80e';
$icon-dropdown: '\e80f';

$icon-placeholder: '\e804';

// Screen width values
$mobile-width: 750px;
$laptop-width: 1000px;
$desktop-width: 1400px;

// Text colors
$emph-text: #828282; // Emphasized text
$unemph-text: #6d6d6d; // Unemphasized text

// Font stack
$font-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif, 'imagehexiconfont';

// Error colors
$color-success: #5bb289;
$color-info: #556db3;
$color-warning: #efb63e;
$color-danger: #cb2e32;
