@import "variables";

.creators-list-container {
  display: flex;
  flex-flow: row wrap;
  align-items: inherit;
  justify-content: flex-start;
  padding: 15px;
}

.creators-list-item {
  flex: 1 1 500px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(201, 201, 201, 0.7);
  border-radius: 3px;
  transition: border 200ms, box-shadow 300ms;
  margin: 8px;
  height: 300px;

  .upper-info {
    display: flex;
    flex-direction: row;
    height: 70%;

    @media #{$mobile} {
      flex-direction: column;
      height: 50%;
    }
  }
}

.creators-list-item-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  text-decoration: none;
  flex: 0 0 calc(500px * 0.2);

  img {
    height: 125px;
    width: 125px;
  }

  a {
    font-size: 1.5rem;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    color: inherit;
  }
}

.creators-list-item-description {
  padding: 15px;
  position: relative;
  overflow: hidden;
  height: 100%;

  @media #{$mobile} {
    display: none;
  }

  &::after {
    content: "";
    position: absolute;
    height: 20px;
    width: 100%;
    left: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0), #fff);
  }
}

.creators-creations-list {
  padding: 15px 0;
  display: flex;
  max-width: 100%;
  overflow: hidden;
}
