@import "scss-variables";

.btn {
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
  border-radius: 3px;
  display: inline-block;
  color: #fff;
  transition: background-color 300ms;
  appearance: none;
  border: 0;
  height: 32px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: none;

  a {
    text-decoration: none;
    padding: 8px 16px;
    display: block;
    color: #fff;
  }

  &:focus {
    outline: transparent;
  }
}

.btn-large {
  height: 40px;
  width: 100%;

  @media all and (max-device-width: $mobile-width) {
    height: 50px;
    font-size: 1.6rem;
  }
}

.btn-full-width {
  width: 100%;
}

.btn-green {
  background-color: #5bb289;

  &:hover, &:focus {
    background-color: darken(#5bb289, 6%);
  }
}

.btn-red {
  background-color: #cb2e32;

  &:hover, &:focus {
    background-color: darken(#cb2e32, 6%);
  }
}

.btn-grey {
  background-color: #aaaab2;

  &:hover, &:focus {
    background-color: darken(#aaaab2, 10%);
  }
}
