.listing-category-show {
  background-color: #fff;

  .markdown-description {
    color: #555;
    padding: 10px;
  }
  margin: 10px 0;
  border-radius: 3px;
  overflow: hidden;
}

.category-price {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}
