@import "variables";

#chat-container {
  position: fixed;
  bottom: 0;
  left: 0;
  min-width: 100px;
  background-color: #eee;
  z-index: 1001;
}

.conversation-list {
  width: 300px;
  overflow: hidden;
  transition: 1s linear;
  max-height: 50vh;

  &.inactive {
    max-height: 0;
  }
}

.conversation-item {
  padding: 10px;
  h4 {
    font-weight: normal;
  }

  &.active {
    background-color: #fff;
  }
}


.conversation-users-list {
  display: flex;
  flex-direction: row;
}

.conversation-users-list {
  height: 30px;
  width: 30px;

  img {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
  }
}


.status-display {
  text-align: right;
  padding: 10px 20px 10px 10px;
  font-size: 16px;
  width: 300px;
  background-color: #fff;

  &.online {
    color: $logo-green;
  }

  &.offline {
    color: $logo-red;
  }

}
