#chat-container {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 400px;
  background-color: #f9f9f9;
  z-index: 100;
}

.conversation-list {
  overflow: hidden;
  transition: 1s linear;
  max-height: 50vh;

  &.inactive {
    max-height: 0;
  }
}

.conversation-users-list {
  display: flex;
  flex-direction: row;

  li {
    height: 30px;
    width: 30px;

    img {
      max-height: 100%;
      max-width: 100%;
      height: auto;
      width: auto;
    }
  }
}
