@import "variables";

#chat-container {
  display: inline-block;
  z-index: 1001;
  height: $header-height;
  width: $header-height;
  color: #222;
}


.conversation-list {
  white-space: nowrap;
  max-height: 50vh;
  cursor: pointer;

  &.inactive {
    overflow: hidden;
    max-height: 0;
    width: 0;
  }

  &.active {
    width: 300px;
    background-color: #fff;
  }
}

.conversation-item {
  padding: 10px;
  overflow: hidden;

  h4 {
    font-weight: normal;
    font-size: 1.2rem;
    text-overflow: elipses;
    text-align: left;
  }

  &.active {
    background-color: #fff;
  }
}


.conversation-users-list {
  display: flex;
  flex-direction: row;

  li {
    width: 30px;
    height: 30px;
  }

  img {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
  }
}


.status-display {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: $header-height;
  height: $header-height;
  font-size: 16px;
  cursor: pointer;

  &.online {
    color: $logo-green;
  }

  &.offline {
    color: $logo-red;
  }

  &.active {
    background-color: #fff;
  }
}

.status-quote::before {
  content: $icon-quote;
}

@keyframes rollUpwards {
  from {
    max-height: 0;
  }

  to {
    max-height: 60vh;
  }
}

.active-conversation {
  border: 1px solid $logo-blue;
  border-bottom: 0;
  border-radius: 4px 4px 0px 0px;
  position: fixed;
  animation: rollUpwards 1s linear;
  bottom: 0;
  right: 10%;
  background-color: #fff;
  max-height: 60vh;
  text-align: left;
  width: 400px;
  font-size: 14px;
  display: flex;
  flex-direction: column;

  @media #{$mobile} {
    width: 95vw;
    right: 2.5vw;
  }
}

@keyframes shimmerBackground {
  from {
    background-position: 0% 48%;
  }

  to {
    background-position: 100% 53%;
  }
}


.conversation-upper {
  position: relative;
  background-color: $logo-blue;
  color: #fff;
  padding: 10px;
  // Weird spooky CSS thing
  min-height: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h5 {
    font-weight: normal;
  }

  &.updating {
    $darker-green: darken($logo-green, 10%);

    &::after {
      content: "";
      position: absolute;
      animation: shimmerBackground 500ms ease-in-out infinite alternate;
      height: 4px;
      background: linear-gradient(90deg, $logo-green, $darker-green);
      background-size: 400% 400%;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}

.message-group-list {
  padding: 10px;
  word-break: break-all;
  word-wrap: break-all;
}

.message-group {
  display: flex;
}

.message-group-left {
  width: 25px;
  margin-right: 10px;

  img {
    max-width: 25px;
    max-height: 25px;
    width: auto;
    height: auto;
    display: block;
  }
}

.message-group-right {
  flex-grow: 1;
}

.message {
  border-radius: 5px;
  background-color: #eee;
  margin-top: 5px;
  padding: 5px;
  width: 100%;
}

.message-group-list {
  overflow-y: auto;
}

.message-input {
  margin: 10px;
  border-radius: 5px;
  border: 1px solid #eee;
  padding: 10px;
}

@keyframes foldOpen {
  from { max-height: 0;}
  to { max-height: 50px; }
}

.read-seperator {
  text-align: center;
  padding: 10px;
  color: #333;
  animation: foldOpen 0.5s linear;
  animation-iteration-count: 1;
}

.close-chat {
  text-decoration: none;
  color: #fff;

  &::before {
    content: $icon-close;
  }
}
