@import "scss-variables";

/* ==============================================
    "New collection" page
   ============================================== */

.new-collection-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
          flex-flow: column wrap;
  width: 650px;
  padding: 10px;
  margin: auto;
  margin-top: 100px;

  .label {
    text-align: right;
    width: 90px;
    padding-right: 5px;
  }

  @media all and (max-device-width: $mobile-width) {
    width: 100vw;
    margin-top: 40px;

    .label {
      text-align: left;
      width: 90px;
      padding-right: 5px;
    }
  }
}

.new-collection-field {
  width: 100%;
  margin-bottom: 20px;
}

#new-collection-title, #new-collection-description {
  width: calc(100% - 95px);
  display: inline-block;
  vertical-align: top;
  appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #aaaab2;
  padding-bottom: 4px;
  background-color: transparent;
  display: inline-block;
  font-size: 1.4rem;
  transition: border 200ms ease;

  &:focus {
    outline: transparent;
    border-bottom: 1px solid #333;
  }

  @media all and (max-device-width: $mobile-width) {
    width: 100%;
    margin-bottom: 20px;
  }
}

#new-collection-description {
  resize: vertical;
  max-height: 250px;
}

#new-collection-submit {
  margin-left: 90px;
  width: calc(100% - 90px);

  @media all and (max-device-width: $mobile-width) {
    margin-left: 0;
    width: 100%;
  }
}


/* ==============================================
    Collection page
   ============================================== */

#collection-page-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column nowrap;
          flex-flow: column nowrap;
  height: 100%;
}

#collection-page-header {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
          flex-flow: row nowrap;
  box-shadow: 0 0 5px 5px rgba(#000,.1);
  background-color: #fff;
  width: 100%;
  height: auto;
  padding: 20px 40px;
  z-index: 100;

  @media all and (max-device-width: $mobile-width) {
    -webkit-flex-flow: column wrap;
            flex-flow: column wrap;
    position: relative;
    width: 100%;
    box-shadow: none;
    min-height: 0;
    padding: 20px;
    text-align: center;
  }
}

#collection-page-info-container {
  position: relative;
  width: calc(100% - 200px);

  @media all and (max-device-width: $mobile-width) {
    width: 100%;

    > p {
      padding-bottom: 8px;
    }
  }
}

.collection-page-title {
  font-size: 2.1rem;
  font-weight: 500;

  @media all and (max-device-width: $mobile-width) {
    font-size: 2.4rem;
  }
}

.collection-page-description {
  font-size: 1.4rem;
  font-weight: 300;

  @media all and (max-device-width: $mobile-width) {
    font-size: 1.6rem;
  }
}

.collection-page-curators {
  font-size: 1.4rem;
  font-weight: 300;

  @media all and (max-device-width: $mobile-width) {
    font-size: 1.6rem;
  }
}

#collection-follow,
#collection-unfollow {
  width: 200px;
  height: 32px;
  right: 0;

  &.active {
    display: block;
  }

  &.inactive {
    display: none;
  }

  span {
    pointer-events: none;
    cursor: pointer;
  }

  @media all and (max-device-width: $mobile-width) {
    position: relative;
    width: 100%;
    height: 40px;
    font-size: 1.8rem;
  }
}

#collection-unfollow {
  background-color: #5bb289;
  transition: background-color 0ms;

  .button-text-following {
    display: inline;
  }

  .button-text-unfollow {
    display: none;
  }

  &:hover {
    background-color: #cb2e32;

    .button-text-following {
      display: none;
    }

    .button-text-unfollow {
      display: inline;
    }
  }
}

#collection-images-container {
  margin: 10px 30px;
  width: calc(100% - 60px);

  @media all and (max-device-width: $mobile-width) {
    width: 100%;
    margin: 0;
  }
}


/* ==============================================
    Embedded Collections
   ============================================== */

/**
 * Embedded collections styles
 *
 * Container for embedded collections, e.g. on the user pages.
 *
 * 1. Margins are the same to ensure that the spacing between
 *    each collection will always be equidistant.
 */

.embed-collection-container {
  background-color: #fff;
  margin: 7px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
          flex-flow: column wrap;
  position: relative;
  max-width: 500px;
  max-height: 500px;
  min-width: 350px;
  min-height: 350px;
  overflow: hidden;

  @media all and (max-device-width: $mobile-width) {
    margin: 7px 0;
    width: calc(100vw - 40px);
    height: calc(100vw - 40px);
    max-width: 100vw;
    max-height: 100vh;
    min-width: 0;
    min-height: 0;
  }

  @media all and (min-device-width: $laptop-width) and (max-device-width: $desktop-width) {
    width: calc((100vw - 420px) / 2);
    height: calc((100vw - 420px) / 2);
  }

  @media all and (min-device-width: $desktop-width) {
    width: calc((100vw - 420px) / 3);
    height: calc((100vw - 420px) / 3);
  }

  @media all and (min-device-width: $mobile-width) {
    > a:hover {
      .collection-information {
        background: rgba(#000,0.4);
      }

      .collection-title::after {
        transform: translate3d(0,0,0);
          -webkit-transform: translate3d(0,0,0);
      }

      .collection-curators {
        opacity: 1;
        transform: translate3d(0,0,0);
          -webkit-transform: translate3d(0,0,0);
      }

      .collection-description {
        opacity: 0.8;
        transform: translate3d(0,0,0);
          -webkit-transform: translate3d(0,0,0);
      }
    }
  }
}


/**
 * Embedded collection thumbnail
 *
 * Thumbnail image for an embedded/in-line collection.
 *
 * 1. Height/width of the thumbnail.
 * 2. Clips the thumbnail to 400px by 400px to ensure that it's square
 *    and fits in the given space.
 */

.collection-thumbnail {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  img {
    position: relative;
    display: inline-block;
    overflow: hidden;
    max-width: 180%;
    max-height: 180%;
  }
}


/**
 * Embedded collection information
 *
 * Title, curators, description etc.
 *
 * 1. A semi-transparent black to full transparency gradient that lies
 *    under the collection information and on top of the collection 
 *    thumbnail. This helps with contrast of the information text when
 *    an image is white or another very light color.
 */

.collection-information {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
          flex-flow: row wrap;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 20px;
  padding-top: 40px;
  background: rgba(#000,0.2); /* 1 */
  transition: background 400ms;
  color: #fff;
  -webkit-align-content: flex-start;
          align-content: flex-start;
  text-align: left;
  overflow: hidden;

  @media all and (max-device-width: $mobile-width) {
    padding-top: 20px;
    background: rgba(#000,0.4);
  }
}


/* Name of the collection */
.collection-title {
  font-size: 2.1rem;
  font-weight: 500;
  padding-bottom: 3px;
  width: 100%;
  position: relative;
  overflow: hidden;

  a {
    text-decoration: none;
  }

  @media all and (min-device-width: $mobile-width) {
    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: #fff;
      content: '';
      transition: -webkit-transform 400ms;
      transition: transform 400ms;
      transform: translate3d(-100%,0,0);
        -webkit-transform: translate3d(-100%,0,0);
      backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
    }
  }
}

/* Curators with permission to curate the embedded collection. */
.collection-curators {
  font-size: 1.4rem;
  font-weight: 300;
  width: 100%;
  padding: 5px 0;

  @media all and (min-device-width: $mobile-width) {
    opacity: 0;
    transition: opacity 400ms, -webkit-transform 400ms;
    transition: opacity 400ms, transform 400ms;
    transform: translate3d(0,25px,0);
      -webkit-transform: translate3d(0,25px,0);
  }
}

/* Description for the embedded collection. */
.collection-description {
  font-size: 1.4rem;
  font-weight: 300;
  width: 100%;
  padding: 5px 0;

  @media all and (min-device-width: $mobile-width) {
    opacity: 0;
    transition: opacity 400ms, -webkit-transform 400ms;
    transition: opacity 400ms, transform 400ms;
    transform: translate3d(0,25px,0);
      -webkit-transform: translate3d(0,25px,0);
  }

  @media all and (max-device-width: $mobile-width) {
    display: none;
  }
}
