.commission-offer-form {
  margin: 10px;
}

.listing-artist-display {
  display: flex;
  flex-direction: row nowrap;

  a {
    color: #000;
    text-decoration: none;
    margin-left: 10px;
    font-size: 2.0rem;
  }
}

.listing-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  div {
    display: block;
    font-weight: normal;
    font-size: 2.0rem;
  }
}

.listing-included-section {
  margin: auto;
  width: 80%;

  h3 {
    font-size: 1.5rem;
    font-weight: normal;
  }

  ul {
    margin: auto;

    li {
      margin-left: 2.5%;
      list-style-type: circle;
      display: list-item;
    }
  }
}
