@import "variables";

.commission-offer-form-react {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reference-image-file-field {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.offer-form-subjects-section {
  width: 600px;
}

.commission-offer-container {
  margin: 5px;
  padding: 5px;
}

.reference-image-thumbnail {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: auto;
}

.reference-remove-button {
  width: 100%;
}

.reference-inner {
  position: relative;
  &.dropzone {
    width: 500px;
    height: 500px;
  }
  &:not(.dropzone) { 
    max-width: 250px;
    max-height: 250px;
  }
}

.reference-drop-zone { 
  background-color: #DDD;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  h1 {
    font-size: 30px;
  }

  &.active {
    background-color: green;
  }
}

// .offer-meta-info { }

.offer-fill-container {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.commission-offer-fill-date {
  margin: 5px;
  text-align: center;
  font-size: 2.4rem;
}

.commission-offer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.commission-subject-form-fields {
  padding: 5px;
  margin: 5px;
  border: 1px solid #333;
}

.subject-references-form {
  display: block;
}

.reference-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  
  li {
    margin: 5px;
    display: inline;

    @media #{$desktop} {
      max-width: 45%;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}

// .offer-subjects { }

.subjects-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: center;
  justify-content: space-between;
}

.subjects-list-item {
  display: block;
  padding: 5px;
  border: 1px solid #333;
  margin: 10px;

  @media #{$desktop} {
    width: calc(50% - 20px);
  }
}

.subjects-section {
  padding: 5px;
}
