@import "variables";

.dashboard-container {
  height: calc(100vh - #{$header-height});
  display: flex;
}

.dashboard-left-nav {
  padding-top: 30px;
  width: 290px;
  flex-shrink: 0;
  height: 100%;
  background-color: #444;
  overflow-y: auto;
  overflow-x: hidden;
  color: #bdbdbd;
}

.dashboard-category {
  padding: 0 20px;
  margin-bottom: 10px;

  h1 {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 250;
    height: 50px;
    line-height: 50px;
  }
}

.dashboard-subcategory {
  padding: 0 0 0 20px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 15px;
  height: 50px;
  line-height: 50px;
  transition: 250ms ease-in-out;

  &::before {
    transition: 250ms ease-in-out;
    content: "⬢";
    color: $logo-green;
    font-size: 0;
    width: 0;
    overflow: hidden;
  }

  &:hover {
    color: #fff;
  }

  &.active {
    color: #fff;

    &::before {
      font-size: 25px;
      margin-right: 5px;
      transition: 250ms ease-in-out;
    }
  }
}

.dashboard-content {
  flex-grow: 1;
  height: 100%;
  width: 100%;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
}

.dashboard-content-inner {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  transition-property: display opacity;
  transition: 250ms ease-in-out;
  opacity: 0;
  display: none;

  &.active {
    opacity: 1;
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    overflow-y: scroll;
    background-color: #fff;
  }
}

.dashboard-item {
  height: 400px;
  width: 400px;
  overflow: hidden;
  position: relative;
  margin: 3px;
  box-shadow: 3px 5px 12px 0 rgba(100, 100, 100, 0.25);

  a {
    color: #000;
    text-decoration: none;
  }

  img {
    min-height: calc(100% - 60px);
    min-width: 100%;
    height: auto;
    width: auto;
    position: relative;
    top: 0;
    bottom: 0;
    z-index: 1;
  }

  .item-bottom-bar {
    background-color: #fff;
    height: 60px;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 2;
  }

  .item-name {
    line-height: 60px;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 22px;
    margin-left: 20px;
    width: 360px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .item-price {
    z-index: 10;
    right: -3px;
    top: 15px;
    position: absolute;
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    margin-left: 15px;
    background: rgb(253, 235, 153);
    text-shadow: rgba(255, 255, 255, 0.2) 1px 1px, rgba(255, 255, 255, 0.2) 1px 1px;
    border-radius: 0 3px 2px 0;
    text-align: left; 

  }

  .item-price::after {
    content: "";
    position: absolute;
    right: 100%;
    bottom: 0;
    width: 0;
    height: 0;
    display: inline-block;
    line-height: 0;
    border-width: 20px;
    border-style: solid;
    border-color: rgb(253, 235, 153) rgb(253, 235, 153) rgb(253, 235, 153) transparent;
  }
}
