@import "scss-variables";


/* ==============================================
    FAQ page container
   ============================================== */

#faq-page-container {
  display: flex;
  flex-flow: column wrap;
  height: 100%;
  margin: 0;
  position: relative;
  width: 100vw;
  padding-bottom: 40px;

  h2 {
    text-align: center;
    margin: 40px 0 20px;
    font-weight: 300;
  }
}

.faq-questions {
  width: 700px;
  margin: auto;

  h3 {
    margin-top: 20px;
    font-weight: 500;
  }

  p {
    padding-top: 6px;
    font-size: 1.4rem;
  }
}
