@import "scss-variables";

/* Container for the footer */
#footer-container {
  background-color: #191a1a;
  bottom: 0;
  box-sizing: border-box;
  color: $unemph-text;
  display: block;
  height: 160px;
  left: 0;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100vw;
  z-index: 1000;

  @media all and (max-device-width: $mobile-width) {
    height: auto;
  }
}

/* Footer div itself. */
#footer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
          flex-flow: row wrap;
  height: 100%;
  margin: auto;
  min-width: 700px;
  padding: 25px 0px;
  width: 60%;

  a {
    color: $unemph-text;
    text-decoration: none;

    &:hover {
      color: $emph-text;
    }
  }

  @media all and (max-device-width: $mobile-width) {
    min-width: auto;
    width: 100%;
    -webkit-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
}

/* First column in the footer for the description, copyright, etc. */
.footer-description-column {
  height: 100%;
  padding: 0 25px;
  text-align: left;
  width: 50%;

  @media all and (max-device-width: $mobile-width) {
    width: 100vw;
  }
}

/* "ImageHex" text in the description column. */
.footer-description-title {
  color: $emph-text;
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
  padding-bottom: 5px;

  @media all and (max-device-width: $mobile-width) {
    font-size: 1.6rem;
  }
}

/* Body text in the description column. */
.footer-description-body {
  display: block;
  font-size: 1.2rem;
  font-weight: 400;
  padding-bottom: 10px;

  @media all and (max-device-width: $mobile-width) {
    font-size: 1.4rem;
  }
}

/* Copyright text in the description column. */
.footer-description-copyright {
  color: $emph-text;
  display: block;
  font-size: 1.2rem;
  font-weight: 500;

  @media all and (max-device-width: $mobile-width) {
    font-size: 1.4rem;
  }
}

/* Second and third columns in the footer, contain links to various sections. */
.footer-links-column {
  height: 100%;
  padding: 0 40px;
  width: 25%;

  @media all and (max-device-width: $mobile-width) {
    height: auto;
    width: 100vw;
    padding: 0 25px;
  }
}

/* Unordered list styling for second and third columns. */
.footer-links-list {
  list-style: none;
  margin: 0;
  text-align: left;
  width: 100%;

  /* Styling for each respective list item. */
  li {
    font-size: 1.2rem;
    font-weight: 400;
    padding: 4px 0;

    /* Special styling for the first list item in each list, as the first item is the list's "title" and should be emphasized. */
    &:first-of-type {
      color: $emph-text;
      font-size: 1.3rem;
      font-weight: 500;
      padding: 0 0 4px;
    }
  }

  @media all and (max-device-width: $mobile-width) {
    padding-top: 25px;

    li {
      font-size: 1.4rem;
      padding: 8px 0;

      &:first-of-type {
        font-size: 1.5rem;
      }
    }
  }
}
