$emph-text: #828282; // Emphasized text
$unemph-text: #6D6D6D; // Unemphasized text

#footer-container {
  display: block;
  position: relative;
  width: 100vw;
  height: 160px;
  box-sizing: border-box;
  left: 0;
  bottom: 0;
  background-color: #191a1a;
  color: $unemph-text;
  margin: 0;
  padding: 0;
}

#footer {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  width: 60%;
  min-width: 700px;
  margin: auto;
  padding: 25px 0px;

  a {
    color: $unemph-text;
    text-decoration: none;

    &:hover {
      color: $emph-text;
    }
  }
}

.footer-description-column {
  width: 50%;
  height: 100%;
  text-align: left;
  padding: 0px 25px;
}

.footer-description-title {
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
  padding-bottom: 5px;
  color: $emph-text;
}

.footer-description-body {
  display: block;
  font-size: 1.2rem;
  font-weight: 400;
  padding-bottom: 10px;
}

.footer-description-copyright {
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  color: $emph-text;
}

.footer-links-column {
  width: 25%;
  height: 100%;
  padding: 0px 30px;
}

.footer-links-list {
  width: 100%;
  list-style: none;
  text-align: left;
  margin: 0;

  li {
    font-size: 1.2rem;
    font-weight: 400;
    padding: 4px 0px;

    &:first-of-type {
      padding: 0px 0px 4px 0px;
      font-size: 1.3rem;
      font-weight: 500;
      color: $emph-text;
    }
  }
}