$emph-text: #828282; // Emphasized text
$unemph-text: #6D6D6D; // Unemphasized text

/* Container for the footer */
#footer-container {
  background-color: #191a1a;
  bottom: 0;
  box-sizing: border-box;
  color: $unemph-text;
  display: block;
  height: 160px;
  left: 0;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100vw;
}

/* Footer div itself. */
#footer {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  margin: auto;
  min-width: 700px;
  padding: 25px 0px;
  width: 60%;

  a {
    color: $unemph-text;
    text-decoration: none;

    &:hover {
      color: $emph-text;
    }
  }
}

/* First column in the footer for the description, copyright, etc. */
.footer-description-column {
  height: 100%;
  padding: 0px 25px;
  text-align: left;
  width: 50%;
}

/* "ImageHex" text in the description column. */
.footer-description-title {
  color: $emph-text;
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
  padding-bottom: 5px;
}

/* Body text in the description column. */
.footer-description-body {
  display: block;
  font-size: 1.2rem;
  font-weight: 400;
  padding-bottom: 10px;
}

/* Copyright text in the description column. */
.footer-description-copyright {
  color: $emph-text;
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
}

/* Second and third columns in the footer, contain links to various sections. */
.footer-links-column {
  height: 100%;
  padding: 0px 30px;
  width: 25%;
}

/* Unordered list styling for second and third columns. */
.footer-links-list {
  list-style: none;
  margin: 0;
  text-align: left;
  width: 100%;

  /* Styling for each respective list item. */
  li {
    font-size: 1.2rem;
    font-weight: 400;
    padding: 4px 0px;

    /* Special styling for the first list item in each list, as the first item is the list's "title" and should be emphasized. */
    &:first-of-type {
      color: $emph-text;
      font-size: 1.3rem;
      font-weight: 500;
      padding: 0px 0px 4px 0px;
    }
  }
}