#home-container {
  display: block;
  height: auto;
  padding: 20px 40px;
  position: relative;
  text-align: center;
  width: 100%;

  h2 {
    padding-bottom: 10px;
  }

  a {
    font-size: 1.6rem;
    line-height: 25px;
  }
}