/* Simple home container that makes sure the home page's content doesn't clip the header/footer. */
#home-container {
  display: block;
  height: auto;
  padding: 20px 40px;
  position: relative;
  text-align: center;
  width: 100%;
}

.frontpage-subscription-container {
  display: flex;
  flex-flow: row wrap;
}

#frontpage-logo {
  width: 100%;

  img {
    margin: auto;
    height: 75px;
    pointer-events: none;
  }
}

.subscription-item {
  width: auto;
  text-align: left;
  background-color: #fff;
  margin: 6px;
  height: 250px;
  overflow: hidden;
  width: auto;
  max-width: 300px;
  flex: 3 1 250px;
  font-size: 1.2rem;
  color: #333;

  img {
    object-fit: cover;
    object-position: 50% 0;
    width: 100%;
    height: 100%;
  }

  a {
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 400;
    color: #333;
    padding: 0;
    
    &:hover {
      text-decoration: underline;
    }
  }

  .subscription-item-header {
    padding: 8px 10px;
  }

  .subscription-item-image {
    height: calc(100% - 60px);
    display: block;
    overflow: hidden;
  }

  .subscription-item-footer {
    padding: 8px 10px;
  }
}
