/* Simple home container that makes sure the home page's content doesn't clip the header/footer. */
#home-container {
  display: block;
  height: auto;
  padding: 20px 40px;
  position: relative;
  text-align: center;
  width: 100%;

  h2 {
    padding-bottom: 10px;
  }

  a {
    font-size: 1.6rem;
    line-height: 25px;
    padding-bottom: 15px;
  }
}

#frontpage-subscription-container{
  display: flex;
  flex-direction: row;
}

.subscription-image{
  width: auto;
  display: inline-block;
  h1{
    font-weight: normal;
    a{
      text-decoration: none;
      color: black;
      &:hover {
        background-color: gray;
      }
      padding: 5px;
    }
  }
  padding: 10px;
}

