@import "variables";

#follow-stuff-message {
  font-size: 16px;
  color: #777;

  a {
    text-decoration: none;
    color: #666;

    &:hover {
      text-decoration: underline;
    }
  }
}
// Simple home container that makes sure the home page's content doesn't clip the header/footer.
.frontpage-links {
  font-size: 1.7rem;

  a {
    color: $header-color;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.frontpage-subscription-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  max-width: 1000px;
  margin: auto;
}



.subscription-item {
  border-radius: 3px;
  min-width: calc(50% - 14px);
  flex-grow: 1;
  flex-shrink: 1;
  width: auto;
  text-align: left;
  background-color: #fff;
  margin: 6px;
  overflow: hidden;
  font-size: 1.2rem;
  color: #333;

  picture {
    display: block;
    width: 100%;
  }

  img {
    margin: auto;
    max-height: calc(75vh - 60px);
    max-width: 100%;
    display: inherit;
    height: auto;
    width: auto;
  }

  a {
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 400;
    color: #333;
    padding: 0;
    
    &:hover {
      text-decoration: underline;
    }
  }

  .subscription-item-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
    padding: 8px 10px;
    background-color: $header-color;

    a {
      color: #fff;
    }
  }

  .subscription-item-image {
    height: calc(100% - 60px);
    display: flex;
    overflow: hidden;
  }

  .subscription-item-footer {
    padding: 8px 10px;
    background-color: $header-color;

    a {
      color: #fff;
    }
  }
}

.subscription-avatar {
  // I am lazy
  // scss-lint:disable ImportantRule
  max-width: 25px !important;
  max-height: 25px !important;
  margin-right: 5px !important;
}

.subscription-creators-item {
  display: inline-block;

  a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
