@import "scss-variables";

/* Container for the header item, always fixed to the top of the screen. */
#header-container {
  background-color: #333;
  box-sizing: border-box;
  color: #fff;
  display: block;
  font-weight: 300;
  height: 40px;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  text-align: right;
  top: 0;
  width: 100vw;
  z-index: 1000;

  @media all and (max-width: $mobile-width) {
    display: none;
  }
}

/* Items aligned to the left side of the header. */
#header-left {
  display: inline-block;
  left: 40px;
  position: absolute;
  text-align: left;
  top: 12px;
}

/* Items aligned to the right side of the header. */
#header-right {
  display: inline-block;
  position: absolute;
  right: 40px;
  text-align: right;
  top: 12px;
}

/* Header items, e.g. "Sign out", "Upload", etc. */
.header-item {
  color: #aaaab2;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 0 15px;
  transition: color 300ms ease-in-out;

  &:hover {
    color: #fff;
    text-decoration: none;
  }

  a {
    color: #aaaab2;
    text-decoration: none;
    transition: color 300ms ease-in-out;

    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }

  /* Ensures that the horizontal padding of the first and last items aren't used, as the padding is only meant for spacing between header items. */
  &:first-of-type {
    padding-left: 0px;
  }

  &:last-of-type {
    padding-right: 0px;
  }
}


/* ==============================================
    Mobile
   ============================================== */

#mobile-header {
  display: none;
}

@media all and (max-width: $mobile-width) {
  #mobile-header {
    display: block;
    position: absolute;
  }
}


/* ==============================================
    Dropdowns
   ============================================== */

.wrapper-dropdown {
  position: relative;
  width: 300px;
  margin: 0 auto;
  padding: 10px;
  cursor: pointer;
  outline: none;
  display: inline;
}

.wrapper-dropdown .dropdown {
  font-size: 1.4rem;
  font-weight: 400;
  position: absolute;
  top: 32px;
  left: -45px;
  right: 0;
  width: 150px;

  background: #555;
  border-radius: 4px;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.4);
  transition: opacity 200ms ease-in;
  list-style: none;
  opacity: 0; /* Hiding */
  padding-left: 0px;
  text-align: left;
  visibility: hidden;
}

.wrapper-dropdown .dropdown li a {
  display: block;
  padding: 10px;
  width: 100%;
  text-decoration: none;
  transition: color 200ms ease-out;
  color: rgba(#fff,0.7);
}

.wrapper-dropdown .dropdown li input[type=submit] {
  padding: 10px;
  width: 100%;
  text-decoration: none;
  transition: color 200ms ease-out;
  color: rgba(#fff,0.7);
  border: none;
  background-color: transparent;
  text-align: left;
  font-size: 1.4rem;
  font-weight: 400;
}

.wrapper-dropdown .dropdown li:first-of-type a {
  border: none;
  border-radius: 4px 4px 0 0;

  &:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 20px;
    border-width: 0 8px 8px;
    border-style: solid;
    border-color: #555 transparent;
  }

  &:hover {
    &:after {
      border-color: #333 transparent;
    }
  }
}


.wrapper-dropdown .dropdown li:last-of-type a {
  border: none;
  border-radius: 0 0 4px 4px;
}

/* Hover state */
.wrapper-dropdown .dropdown li:hover a, .wrapper-dropdown .dropdown li:hover input[type=submit] {
  background: #333;
  color: #fff;
  cursor: pointer;
}

// Fixing bottom-most dropdown item when it's the "Sign out" button.
.wrapper-dropdown .dropdown li:last-of-type:hover input[type=submit] {
  border-radius: 0 0 4px 4px;
}

/* Active state */
.wrapper-dropdown.active .dropdown {
  opacity: 1;
  visibility: visible;
}
