@import "scss-variables";

/* Container for the header item, always fixed to the top of the screen. */
#header-container {
  background-color: #333;
  color: #fff;
  display: block;
  font-weight: 300;
  height: 40px;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  text-align: right;
  top: 0;
  width: 100vw;
  z-index: 1000;

  @media all and (max-device-width: $mobile-width) {
    width: 100vw;
    height: 50px;
    padding: 15px;
    background-color: #333;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
            flex-flow: row nowrap;
    position: fixed;
    z-index: 1001;
  }
}

/* Items aligned to the left side of the header. */
#header-left {
  display: inline-block;
  left: 40px;
  position: absolute;
  text-align: left;

  @media all and (max-device-width: $mobile-width) {
    top: 16px;
    left: 20px;
  }
}

.imagehex-header-logo {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  background: url("/logo/imagehex-grayscale-blackbg-with-no-text.svg") 50% 50% / 85% 85% no-repeat;

  @media all and (max-device-width: $mobile-width) {
    width: 50px;
    height: 50px;
    top: -12px;
    left: 0;
    background: url("/logo/imagehex-grayscale-blackbg-with-no-text.svg") 0% 0% / 85% 85% no-repeat;
  }
}

/* Items aligned to the right side of the header. */
#header-right {
  display: inline-block;
  position: absolute;
  right: 40px;
  text-align: right;
  height: 100%;

  @media all and (max-device-width: $mobile-width) {
    position: absolute;
    right: 0;
    top: 50px;
    width: calc(100vw - 90px);
    max-width: 250px;
    height: calc(100vh - 50px);
    display: block;
    text-align: left;
    background-color: #222;
    z-index: 1000;
    transition: -webkit-transform 300ms;
    transition: transform 300ms;
    @include translateX(calc(100vw + 90px));
    padding-top: 10px;

    &.active {
      @include translateX(0);
    }

    .header-item {
      width: 100%;
      display: block;
      padding: 0;
      font-size: 1.8rem;

      a {
        width: 100%;
        display: block;
        height: 100%;
        padding: 12px 25px;
      }
    }

    #username {
      position: absolute;
      bottom: 0;
      left: 30px;
      padding: 2px;
    }
  }
}

/* Header items, e.g. "Sign out", "Upload", etc. */
.header-item {
  color: #aaaab2;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 12px 15px 0;
  transition: color 300ms ease-in-out;
  vertical-align: top;

  &:hover {
    color: #fff;
    text-decoration: none;
  }

  a {
    color: #aaaab2;
    text-decoration: none;
    transition: color 300ms ease-in-out;

    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }

  @media all and (min-device-width: $mobile-width) {
    /* Ensures that the horizontal padding of the last item isn't used, as the padding is only meant for spacing between header items. */
    &:last-of-type {
      padding-right: 0;
    }
  }
  
  @media all and (max-device-width: $mobile-width) {
    padding: 14px 15px;
  }
}

#mobile-menu-icon {
  display: none;
  height: 50px;
  position: absolute;
  right: 10px;
  top: 0;
  width: 50px;

  span::before {
    @include translate(-35px,14px);

    transition: color 300ms;
  }

  &.active {
    span::before {
      color: #fff;
    }
  }

  @media all and (max-device-width: $mobile-width) {
    display: block;
  }
}

#mobile-menu-overlay {
  display: none;
}

@media all and (max-device-width: $mobile-width) {
  #header-home {
    padding: 0 15px;
  }

  #mobile-menu-overlay {
    width: 100vw;
    height: calc(100vh - 50px);
    position: fixed;
    display: block;
    top: 50px;
    left: 0;
    pointer-events: none;
    background-color: rgba(#333,0);
    z-index: 999;
    transition: background-color 300ms 0;

    &.active {
      background-color: rgba(#333,0.4);
      pointer-events: auto;
      transition: background-color 300ms 300ms;
    }
  }
}
