@import "scss-variables";

.icon:before {
  position: absolute;
  color: #aaaab2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-stack;
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon {
  font-family: "imagehexicons";
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  font-variant: normal;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-smoothing: antialiased;
}

// Home icon
.icon-home:before {
  content: $icon-placeholder;
}

// Search icon
.icon-search:before {
  content: $icon-search;
}

// Menu icon
.icon-menu:before {
  content: $icon-menu;
}

// Close icon
.icon-close:before {
  content: $icon-close;
}

.icon-download:before {
  content: $icon-download;
}

.icon-favorite:before {
  content: $icon-heart-outline;
}

.icon-favorited:before {
  content: $icon-heart-fill;
}

.icon-add:before {
  content: $icon-plus;
}

.icon-share:before {
  content: $icon-share;
}

.icon-report:before {
  content: $icon-flag;
}

.icon-delete:before {
  content: $icon-trash;
}

.icon-checkmark:before {
  content: $icon-checkmark;
}

.icon-small:before {
  font-size: 1.8rem;
}

.icon-medium:before {
  font-size: 3.2rem;
}

.icon-large:before {
  font-size: 4.8rem;
}

.icon-huge:before {
  font-size: 7.2rem;
  @include translateX(-3.6rem); // Translate left half of the font-size to enable centering.
}
