@import "scss-variables";

/* Padding for images in image pages. */
/* Adding properties to this can have unintended consequences effecting all images across the site. */
.image {
  padding: 25px;
  text-align: center;
  -webkit-flex-grow: 1;
          flex-grow: 1;

  /* Width/height for the image element itself. */
  img {
    max-height: 80vh;
    max-width: 75vw;
  }

  @media all and (max-device-width: $mobile-width) {
    padding: 0;
    margin: 0;

    img {
      max-width: 100vw;
    }
  }
}

#image-page-top-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
          flex-flow: row wrap;
  background-color: #444;
}

#image-page-bottom-container {
  padding: 55px 40px 30px 40px;
  min-height: 300px;
  color: #333;
  position: relative;

  @media all and (max-device-width: $mobile-width) {
    padding: 55px 20px 30px 20px;
  }
}


/* ==============================================
    Image page toolbar
   ============================================== */

#image-page-toolbar {
  width: 100%;
  background-color: #fff;
  height: 40px;
  position: absolute;
  left: 0;
  top: 0;
  padding: 12px 40px 12px 60px;
  font-size: 1.4rem;

  @media all and (max-device-width: $mobile-width) {
    padding: 12px 20px 12px 40px;
  }

  > .left {
    text-align: left;
    display: inline-block;
    position: relative;
    width: 48%;
  }

  > .right {
    text-align: right;
    display: inline-block;
    position: relative;
    width: 48%;

    > div {
      display: inline-block;
      margin-left: 40px;
    }

    // Hides extra image-page-toolbar options for mobile users
    // This is a temporary fix.
    @media all and (max-device-width: $mobile-width) {
      display: none;
    }
  }

}

#add-tag-group-button {
  cursor: pointer;
  display: inline-block;

  &:before {
    content: $icon-add;
    position: absolute;
    display: inline-block;
    transform: translate(-24px,-2px);
      -webkit-transform: translate(-24px,-2px);
    font-size: 1.8rem;
    -webkit-font-smoothing: antialiased;
  }
}

#new-group {
  
}

#image-help-button {
  cursor: pointer;
  display: inline-block;

  &:before {
    content: $icon-help;
    position: absolute;
    display: inline-block;
    transform: translate(-24px,-4px);
      -webkit-transform: translate(-24px,-4px);
    font-size: 1.8rem;
    -webkit-font-smoothing: antialiased;
  }
}

#image-info-button {
  cursor: pointer;
  display: inline-block;

  &:before {
    content: $icon-info;
    position: absolute;
    display: inline-block;
    transform: translate(-24px,-4px);
      -webkit-transform: translate(-24px,-4px);
    font-size: 1.8rem;
    -webkit-font-smoothing: antialiased;
  }
}

#image-info-tooltip {
  background-color: #fff;
  border-radius: 2px;
  padding: 8px 12px;
  margin-top: 5px;
}

// Styling for the image information/metadata table.
.image-info-table {
  font-size: 1.2rem;

  // Styling for cells in column one.
  .column-one-cell {
    text-align: right;
    padding-right: 8px;
  }

  // Styling for cells in column two.
  .column-two-cell {
    text-align: left;
  }

  // Styling for each respective row.
  .table-row {

  }
}

#edit-history-button {
  cursor: pointer;
  display: inline-block;

  &:before {
    content: $icon-history;
    position: absolute;
    display: inline-block;
    transform: translate(-24px,-4px);
      -webkit-transform: translate(-24px,-4px);
    font-size: 1.8rem;
    -webkit-font-smoothing: antialiased;
  }
}

.toolbar-tooltip {
  &.inactive {
    display: none;
  }

  &.active {
    display: block;
    position: absolute;
    top: 30px;
    right: 40px;
  }
}
