@import "scss-variables";

/* ==============================================
    General
   ============================================== */

.image-actions-sidebar {
  width: 20vw;
  background-color: #272727;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
          align-items: flex-end;

  @media all and (max-device-width: $mobile-width) {
    width: 100vw;
  }
}

.image-actions-container {
  width: 100%;
  height: auto;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-align-items: flex-end;
          align-items: flex-end;
  padding-bottom: 15px;
  position: relative;

  > a {
    position: relative;
  }

  a,
  #img-action-favorited,
  #img-action-favorite {
    font-size: 1.4rem;
    font-weight: 300;
    width: 100%;
    text-decoration: none;
    color: rgba(#fff,0.8);

    &:hover {
      color: rgba(#fff,1.0);
    }

    @media all and (max-device-width: $mobile-width) {
      width: auto;
    }
  }

  @media all and (max-device-width: $mobile-width) {
    padding-bottom: 4px;
  }
}

.image-actions {
  width: 100%;
  height: 40px;
  padding: 10px 20px;

  &:hover {
    background-color: #333333;

    > a > span::before,
    > span::before {
      color: rgba(#fff,1.0);
    }
  }

  > a > span::before,
  > span::before {
    color: rgba(#fff,0.8);
    font-size: 2.1rem;
    @include translate(5px, -4px);
  }

  > a > p,
  > p {
    padding-left: 40px;
  }

  @media all and (max-device-width: $mobile-width) {
    padding: 10px;
    overflow: hidden;
    white-space: nowrap;
    width: 40px;
    height: 40px;

    > a > p,
    > p {
      display: none;
    }
  }
}

.image-actions-tooltip {
  width: 225px;
  height: auto;
  max-height: 700px;
  position: absolute;
  z-index: 50;
  right: calc(100% + 6px);
  background: #fff;
  color: #333;
  border-radius: 3px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.15);

  .agree-button {
    display: inline-block;
    height: 36px;
    width: 100%;
    background-color: #5bb289;
    text-align: center;
    padding: 9px;
    margin-top: 3px;
    border-radius: 0 0 3px 3px;
  }

  > p {
    padding: 12px;
    font-size: 1.3rem;
    line-height: 17px;
  }

  &.inactive {
    display: none;
  }

  &.active {
    display: block;
  }

  // Tooltip triangle
  &:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    right: -12px;
    border-width: 0 10px 10px;
    border-style: solid;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    border-color: #fff transparent;
  }

  @media all and (max-device-width: $mobile-width) {
    width: 100vw;
    // Height of the page minus the height of the header.
    height: calc(100vh - 50px);
    top: 50px;
  }
}

@media all and (max-device-width: $mobile-width) {
  #img-action-favorited,
  #img-action-favorite {
    > a > span::before {
      @include translate(5px, -1px);
    }
  }
}


/* ==============================================
    Download
   ============================================== */

#img-action-download-tooltip {
  a {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 400;
  }

  &:after {
    top: 38px;
    top: -25px;
  }
}


/* ==============================================
    Favorite
   ============================================== */

.image-actions-favorite-container {
  width: 100%;
  cursor: pointer;

  > div > a {
    display: block;
    padding: 10px 20px;
    color: rgba(#fff,0.8);

    @media all and (max-device-width: $mobile-width) {
      padding: 10px 15px;
    }
  }

  &:hover > div > a {
    color: rgba(#fff,1.0);
  }

  @media all and (max-device-width: $mobile-width) {
    width: 40px;
  }
}

#img-action-favorite,
#img-action-favorited {
  padding: 0;

  &.active {
    display: inline-block;
  }

  &.inactive {
    display: none;
  }
}


/* ==============================================
    Add a collection
   ============================================== */

#collection-add-list-container {
  overflow: hidden;
  border-radius: 3px;
}

#collection-add-list-scrollbar {
  overflow: hidden;
  overflow-y: auto;
  margin-right: 10px;
  max-height: 400px;

  &::-webkit-scrollbar {
    width: 8px;
    border-radius: 0;
    position: absolute;
    right: 8px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: #fff;
  }
   
  /* Handle */
  &::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: rgba(#333,0.7);

    &:hover {
      background-color: rgba(#333,0.8);
    }
  }

  input[type="submit"] {
    background-color: #fff;
  }
}

.collection-add-list-item {
  width: 100%;
  font-size: 1.2rem;
  font-weight: 300;
  color: rgba(#333,0.8);
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  height: 35px;
  text-align: left;
  cursor: pointer;

  &:hover {
    color: #333;
  }

  &:focus {
    outline: transparent;
  }
}

#img-action-collection-tooltip {
  top: -10px;
  cursor: default;

  &:after {
    top: 22px;
  }
}


/* ==============================================
    Report
   ============================================== */

#img-action-report-tooltip {
  top: -170px;
  cursor: default;

  &:after {
    bottom: 66px;
  }
}

#report-form {
  padding: 12px;

  input[type=radio] {
    height: 12px;
    width: 12px;
  }

  input[type=radio] + label {
    color: #555;
    font-size: 1.4rem;
    font-weight: 300;
  }

  input[type=radio]:checked + label {
    color: #333;
  }

  .report-row {
    display: block;
    padding: 4px 0;
  }

  p {
    color: #333;
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 4px;
  }

  textarea {
    width: 100%;
    height: 75px;
    max-height: 125px;
    border: 1px solid #aaaab2;
    background-color: transparent;
    resize: vertical;
    color: #333;
    font-size: 1.4rem;

    &:focus {
      outline: transparent;
      border: 1px solid #333;
    }
  }
}


/* ==============================================
    Delete
   ============================================== */

#img-action-delete {
  transition: background-color 200ms;

  &:hover {
    background-color: rgba($color-danger, 0.8);
  }
}
