@import "scss-variables";

/* ==============================================
    General
   ============================================== */

.image-actions-sidebar {
  width: 20vw;
  background-color: #272727;
  min-width: 300px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
          align-items: flex-end;

  @media all and (max-device-width: $mobile-width) {
    width: 100vw;
  }
}

.image-actions-container {
  width: 100%;
  height: auto;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-align-items: flex-end;
          align-items: flex-end;
  padding-bottom: 15px;

  a,
  #img-action-favorited,
  #img-action-favorite {
    font-size: 1.4rem;
    font-weight: 300;
    width: 100%;
    text-decoration: none;
    color: rgba(#fff,0.8);

    &:hover {
      color: rgba(#fff,1.0);
    }
  }

  @media all and (max-device-width: $mobile-width) {
    padding-bottom: 0;
  }
}

.image-actions {
  width: 100%;
  height: 40px;
  padding: 10px 0 10px 65px;

  &:hover {
    background-color: #333333;
  }

  @media all and (max-device-width: $mobile-width) {
    padding: 10px 0 10px 45px;
  }
}


/* ==============================================
    Image Action Icons
   ============================================== */

#img-action-favorite::before,
#img-action-favorited::before,
#img-action-collection::before,
#img-action-share::before,
#img-action-report::before {
  position: absolute;
  display: inline-block;
  transform: translate(-30px,-4px);
    -webkit-transform: translate(-30px,-4px);
  font-size: 2.0rem;
  -webkit-font-smoothing: antialiased;
}

#img-action-favorite::before {
  content: $icon-favorite;
}

#img-action-favorited::before {
  content: $icon-placeholder;
}

#img-action-collection::before {
  content: $icon-add;
}

#img-action-share::before {
  content: $icon-share;
}

#img-action-report::before {
  content: $icon-report;
}


/* ==============================================
    Favorite
   ============================================== */

.image-actions-favorite-container {
  width: 100%;

  > div > a {
    display: block;
    width: 125%;
    height: 40px;
    line-height: 40px;
    -webkit-transform: translate(-62px,-11px);
            transform: translate(-62px,-11px);
    text-indent: 62px;
  }
}

#img-action-favorite.active,
#img-action-favorited.active {
  display: block;
}

#img-action-favorite.inactive,
#img-action-favorited.inactive {
  display: none;
}


/* ==============================================
    Add a collection
   ============================================== */

#collection-add-list-container {
  background-color: #222;
  color: #fff;
  width: 100%; // The height of 5 list items.

  &.inactive {
    display: none;
  }

  &.active {
    display: block;
  }
}

#collection-add-list-scrollbar {
  overflow-y: auto;
  margin-right: 10px;
  max-height: 175px;

  &::-webkit-scrollbar {
    width: 8px;
    border-radius: 0;
    position: absolute;
    right: 8px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: #222;
  }
   
  /* Handle */
  &::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: rgba(#fff,0.7);

    &:hover {
      background-color: rgba(#fff,0.8);
    }
  }
}

.collection-add-list-item {
  width: 100%;
  font-size: 1.2rem;
  font-weight: 300;
  color: rgba(#fff,0.8);
  background-color: #222;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  height: 35px;
  text-align: left;
  padding-left: 38px;
  cursor: pointer;

  &:hover {
    color: #fff;
    background-color: #333;
  }

  &:focus {
    outline: transparent;
  }
}


/* ==============================================
    Report image
   ============================================== */

#report-form {
  padding: 0 10px;
  margin-left: 35px;

  &.inactive {
    display: none;
  }

  &.active {
    display: inline-block;
  }

  input[type=radio] + label {
    color: rgba(#fff,.8);
    font-size: 1.4rem;
    font-weight: 300;
  }

  input[type=radio]:checked + label {
    color: #fff;
  }

  .report-row {
    display: block;
    padding: 4px 0;
  }

  p {
    color: rgba(#fff, 0.8);
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 4px;
  }

  textarea {
    width: 100%;
    height: 75px;
    max-height: 125px;
    border: 1px solid rgba(#fff, 0.8);
    background-color: transparent;
    resize: vertical;
    color: #fff;
    font-size: 1.4em;

    &:focus {
      outline: transparent;
    }
  }
}