@import "scss-variables";

/* Padding for images in image pages. */
/* Adding properties to this can have unintended consequences effecting all images across the site. */
.image {
  padding: 25px;
  text-align: center;
  -webkit-flex-grow: 1;
          flex-grow: 1;

  /* Width/height for the image element itself. */
  img {
    max-height: 80vh;
    max-width: 75vw;
  }

  @media all and (max-device-width: $mobile-width) {
    padding: 0;
    margin: 0;

    img {
      max-width: 100vw;
      vertical-align: bottom;
    }
  }
}

#image-page-top-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
          flex-flow: row wrap;
  background-color: #444;
}

#image-page-bottom-container {
  padding: 55px 40px 30px 40px;
  min-height: 300px;
  color: #333;
  position: relative;

  @media all and (max-device-width: $mobile-width) {
    padding: 55px 20px 30px 20px;
  }
}

#image-page-information {
  -webkit-columns: 450px auto;
  -moz-columns: 450px auto;
       columns: 450px auto;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  -webkit-column-fill: balance;
     -moz-column-fill: balance;
          column-fill: balance;
}


/* ==============================================
    Image page toolbar
   ============================================== */

#image-page-toolbar {
  width: 100%;
  background-color: #fff;
  height: 40px;
  position: absolute;
  left: 0;
  top: 0;
  padding: 12px 40px 12px 60px;
  font-size: 1.4rem;
  z-index: 40;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);

  @media all and (max-device-width: $mobile-width) {
    padding: 12px 20px 12px 40px;
  }

  > .left {
    text-align: left;
    display: inline-block;
    position: relative;
    width: 48%;
  }

  > .right {
    text-align: right;
    display: inline-block;
    position: relative;
    width: 48%;

    > div {
      display: inline-block;
      margin-left: 40px;
    }

    // Hides extra image-page-toolbar options for mobile users
    // This is a temporary fix.
    @media all and (max-device-width: $mobile-width) {
      display: none;
    }
  }
}

#add-tag-group-button {
  cursor: pointer;
  display: inline-block;

  &:before {
    content: $icon-add;
    position: absolute;
    display: inline-block;
    @include translate(-24px,-2px);
    font-size: 1.8rem;
    -webkit-font-smoothing: antialiased;
  }
}

#new-group {
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 2px 2px 6px 0 rgba(0,0,0,0.1);

  &.inactive {
    display: none;
  }

  &.active {
    display: block;
  }

  input[type="text"] {
    background-color: transparent;
    width: 100%;
    border: 0;
    font-size: 1.2rem;
    padding: 15px;

    &:focus {
      outline: transparent;
    }
  }
}

#image-help-button {
  cursor: pointer;
  display: inline-block;
  position: relative;

  &:before {
    content: $icon-help;
    position: absolute;
    display: inline-block;
    @include translate(-24px,-4px);
    font-size: 1.8rem;
    -webkit-font-smoothing: antialiased;
  }
}

#image-details-button {
  cursor: pointer;
  display: inline-block;

  &:before {
    content: $icon-info;
    position: absolute;
    display: inline-block;
    @include translate(-24px,-4px);
    font-size: 1.8rem;
    -webkit-font-smoothing: antialiased;
  }
}

#image-details-tooltip {
  background-color: #fff;
  border-radius: 2px;
  padding: 8px 12px;
  margin-top: 5px;
  position: absolute;
  top: 38px;
  max-width: 400px;
  width: auto;
  @include translateX(-90%);
  box-shadow: 0 1px 4px rgba(0,0,0,0.3);

  &:before, &:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    left: calc(90% - 25px);
    border-width: 0 10px 10px;
    border-style: solid;
  }

  // Outline for the arrow protruding outside of the tooltip.
  &:before {
    top: -11px;
    border-color: rgba(0,0,0,0.1) transparent;
  }

  // Arrow protruding outside of the tooltip.
  &:after {
    top: -10px;
    border-color: #fff transparent;
  }
}

// Styling for the image details/metadata table.
.image-details-table {
  font-size: 1.2rem;
  margin: auto;
  margin-bottom: 3px;
  border-collapse: collapse;

  tbody {
    vertical-align: bottom;
  }

  // Styling for cells in column one.
  .column-one-cell {
    text-align: right;
    font-weight: 500;
    min-width: 90px;
  }

  // Styling for cells in column two.
  .column-two-cell {
    text-align: left;
    max-width: 300px;
    padding-left: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  // Styling for each respective row.
  .table-row {
    height: 20px;

    &.inactive {
      display: none;
    }

    &.active {
      display: table-row;
    }
  }
}

// Commas between each of the content rating list items (I know, I know...)
#details-table-row-content-ratings {
  ul li {
    display: inline;
    position: relative;
    padding-right: 4px;

    &:not(:last-of-type):after {
      content: ", ";
      position: absolute;
      right: 3px;
    }
  }   
}


#edit-history-button {
  cursor: pointer;
  display: inline-block;

  &:before {
    content: $icon-history;
    position: absolute;
    display: inline-block;
    @include translate(-24px,-4px);
    font-size: 1.8rem;
    -webkit-font-smoothing: antialiased;
  }
}

.toolbar-tooltip {
  &.inactive {
    display: none;
  }

  &.active {
    display: block;
    position: absolute;
  }
}
