@import "scss-variables";

/* ==============================================
    General
   ============================================== */

.image-actions-sidebar {
  width: 20vw;
  background-color: #272727;
  min-width: 300px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
          align-items: flex-end;

  @media all and (max-device-width: $mobile-width) {
    width: 100vw;
  }
}

.image-actions-container {
  width: 100%;
  height: auto;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-align-items: flex-end;
          align-items: flex-end;
  padding-bottom: 15px;

  a,
  #img-action-favorited,
  #img-action-favorite {
    font-size: 1.4rem;
    font-weight: 300;
    width: 100%;
    text-decoration: none;
    color: rgba(#fff,0.8);

    &:hover {
      color: rgba(#fff,1.0);
    }

    @media all and (max-device-width: $mobile-width) {
      width: auto;
    }
  }

  @media all and (max-device-width: $mobile-width) {
    padding-bottom: 0;
  }
}

.image-actions {
  width: 100%;
  height: 40px;
  padding: 10px 15px;

  &:hover {
    background-color: #333333;

    > a > span::before,
    > span::before {
      color: rgba(#fff,1.0);
    }
  }

  > a > span::before,
  > span::before {
    color: rgba(#fff,0.8);
    font-size: 2.1rem;
    transform: translate(5px, -4px);
      -webkit-transform: translate(5px, -4px);
  }

  > a > p,
  > p {
    padding-left: 40px;
  }

  @media all and (max-device-width: $mobile-width) {
    padding: 10px;
    overflow: hidden;
    white-space: nowrap;
    width: 40px;
    height: 40px;

    > a > p,
    > p {
      display: none;
    }
  }
}


/* ==============================================
    Favorite
   ============================================== */

.image-actions-favorite-container {
  width: 100%;
  cursor: pointer;

  > div > a {
    display: block;
    padding: 10px 15px;
    color: rgba(#fff,0.8);
  }

  &:hover > div > a {
    color: rgba(#fff,1.0);
  }

  @media all and (max-device-width: $mobile-width) {
    width: 40px;
  }
}

#img-action-favorite,
#img-action-favorited {
  padding: 0;

  &.active {
    display: inline-block;
  }

  &.inactive {
    display: none;
  }
}


/* ==============================================
    Add a collection
   ============================================== */

#collection-add-list-container {
  background-color: #222;
  color: #fff;
  width: 100%; // The height of 5 list items.

  &.inactive {
    display: none;
  }

  &.active {
    display: block;
  }
}

#collection-add-list-scrollbar {
  overflow-y: auto;
  margin-right: 10px;
  max-height: 175px;

  &::-webkit-scrollbar {
    width: 8px;
    border-radius: 0;
    position: absolute;
    right: 8px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: #222;
  }
   
  /* Handle */
  &::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: rgba(#fff,0.7);

    &:hover {
      background-color: rgba(#fff,0.8);
    }
  }
}

.collection-add-list-item {
  width: 100%;
  font-size: 1.2rem;
  font-weight: 300;
  color: rgba(#fff,0.8);
  background-color: #222;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  height: 35px;
  text-align: left;
  padding-left: 38px;
  cursor: pointer;

  &:hover {
    color: #fff;
    background-color: #333;
  }

  &:focus {
    outline: transparent;
  }
}


/* ==============================================
    Report image
   ============================================== */

#report-form {
  padding: 0 10px;
  margin-left: 35px;

  &.inactive {
    display: none;
  }

  &.active {
    display: inline-block;
  }

  input[type=radio] + label {
    color: rgba(#fff,.8);
    font-size: 1.4rem;
    font-weight: 300;
  }

  input[type=radio]:checked + label {
    color: #fff;
  }

  .report-row {
    display: block;
    padding: 4px 0;
  }

  p {
    color: rgba(#fff, 0.8);
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 4px;
  }

  textarea {
    width: 100%;
    height: 75px;
    max-height: 125px;
    border: 1px solid rgba(#fff, 0.8);
    background-color: transparent;
    resize: vertical;
    color: #fff;
    font-size: 1.4em;

    &:focus {
      outline: transparent;
    }
  }
}