@import "variables";

$standard-padding: 20px;
$header-background-color: #272727;
$header-text-color: rgba(255, 255, 255, 0.8);


#listing-form {
  .price-relevant {
    transition: 1s linear;
    overflow: hidden;
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 50%;
    max-height: 100%;
    white-space: nowrap;

    &.inactive {
      flex-grow: 0;
      flex-shrink: 0;
      max-width: 0;
      max-height: 0;
      overflow: hidden;
    }
  }
}

.listing-overall-prices {
  padding: $standard-padding;
  margin-bottom: $standard-padding;
  font-size: 14px;
}

.listing-form-section-header {
  padding: $standard-padding;
  background-color: $header-background-color;
  color: $header-text-color;
  margin-bottom: $standard-padding;
  font-size: 14px;

  h1 {
    font-size: 2.4rem;
  }
}

.big-description {
  justify-content: space-between;
  align-items: center;
  transition: 1s linear;
  overflow: hidden;
  margin-bottom: ($standard-padding / 2);

  > div {
    max-width: 75%;
  }

  &.price-active {
    max-height: 30px;
  }

  input[type="checkbox"] {
    width: 25%;
  }

  &.price-inactive {
    max-height: 0;
  }

  label {
    font-size: 18px;
    white-space: nowrap;
  }
}

.listing-example-images-section {

  .lower-section {
    transition: 1s linear;
    max-height: 70vh;
    overflow-y: scroll;
  }

  &.inactive {
    .lower-section {
      max-height: 0;
      overflow: hidden;
    }
  }
}

.example-images-activate-bar {
  height: 35px;
  background-color: lighten($header-background-color, 50%);
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
  font-size: 20px;

  &::after {
    display: block;
    content: $icon-dropdown;
    color: #fff;
    transition: 500ms linear;
    transform: rotateZ(180deg);
  }

  &.inactive {
    &::after {
      transform: rotateZ(0deg);
    }
  }
}

.options-section {
  display: flex;
  flex-direction: column;
}

.options-container {
  display: flex;
  flex-direction: column;
}

.option-fields-section {
  margin-top: 10px;
  margin-bottom: 5px;
  padding: $standard-padding;
  display: flex;
  flex-direction: column;
  background-color: #ddd;
  transition: 1s ease-in-out;

  label {
    font-size: 16px;
  }
}

#example-image-section {
  margin: 0;
}

.listing-form {
  max-width: 800px;
  margin: auto;
}

.row-fields-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  justify-content: space-around;
  min-height: 50px;

  div {
    flex-grow: 1;
  }

  @media #{$mobile} {
    flex-direction: column;

    &.around div {
      flex-basis: unset;
    }
  }
}

.remove-option-button {
  font-size: 16px;
  color: $logo-red;
  cursor: pointer;

  &::before {
    content: $icon-close;
    margin-right: 5px;
  }
}

