.base-price-container {
  transition: 0.5s ease-in-out;
  overflow: hidden; 

  &.hidden {
    height: 0;
  }

  &.active {
    height: 50px;
  }
}

.price-field-section {
  transition: 0.5s ease-in-out;
  height: 50px;
  overflow: hidden;
  &.inactive {
    height: 0;
  }
}
