@import "variables";

$avatar-size: 75px;
$avatar-space: 20px;

.note-container-outer {
  max-width: 1125px;
  display: flex;
  margin: auto;
  width: 100%;
}

.note-container-inner {
  min-height: 250px;
  display: flex;
  flex-grow: 1;
  margin-right: ($avatar-size + $avatar-space);
}

.note-user-container {
  width: $avatar-size;
  overflow: hidden;
  margin-top: 25px;
  flex-shrink: 0;

  img {
    width: 100%;
    height: auto;
  }

  .note-user-name {
    font-size: 16px;
    display: block;
    text-align: center;
  }
}

.note-show-inner {
  flex-grow: 1;
  margin-left: $avatar-space;
  padding: 25px;

  .note-title {
    font-size: 2.7rem;
    color: black;
    text-align: center;

    a {
      text-decoration: none;
      color: inherit;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  h1 {
    font-size: 2.3rem;
  }

  h2 {
    font-size: 2.0rem;
  }

  h3 {
    font-size: 1.7rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.2rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: #333;
  }
}

.show-note-container {
  padding-top: 10vh;
}

.notes-list {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
}

.note-form {
  max-width: 600px;
  margin: auto;
}

.note-reply {
  display: flex;
}

.reply-user-avatar {
  width: 50px;

  img {
    max-width: 100%;
  }
}

.reply-main-content {
  margin-left: 20px;
  flex-grow: 1;

  .reply-user-name {
    font-size: 16px;

    a {
      color: inherit;
      text-decoration: none;
    }
  }
}
