@import "scss-variables";

.header-notifications {
  background-color: #222222;
  height: 100%;
  top: 0;
  left: 68px;
  display: inline-block;
  position: absolute;

  &.unread {
    background-color: #b70f3b;

    .notifications-unread-count a {
      color: #fff;
    }
  }

  &.active {
    background-color: #fff;
    color: #333;
  }

  .notifications-unread-count a {
    font-size: 1.4rem;
    font-weight: 400;
    color: #aaaab2;
    text-decoration: none;
    transition: color 300ms ease-in-out;
    padding: 12px 15px;
    display: inline-block;

    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }

  .notifications-dropdown {
    display: none;
  }
}

.notifications-container {
  width: 80%;
  max-width: 600px;
  margin: auto;
  margin-top: 50px;

  a {
    color: #aaaab2;
    text-decoration: none;
    font-size: 1.2rem;

    &:hover {
      color: #333;
    }
  }

  .notifications-header {
    border-bottom: 1px solid #aaaab2;
    position: relative;

    h3 {
      font-size: 1.8rem;
      font-weight: 500;
      padding: 0 0 6px 10px;
      display: inline-block;
    }

    .mark-all-read {
      text-align: right;
      padding: 6px 10px;
      display: inline-block;
      position: absolute;
      right: 0;
    }
  }
}

.notifications-list-item {
  width: 100%;
  font-size: 1.2rem;
  border-bottom: 1px solid #aaaab2;

  &.unread {
    background-color: #fff;
  }

  a {
    display: inline-block;
    width: 100%;
    padding: 12px 10px;
    text-decoration: none;
    color: #333;
  }

  .notification-message {
    padding-bottom: 2px;
  }

  .notification-time-ago {
    color: #aaaab2;
  }
}

