@import "variables";

.header-notifications {
  background-color: $header-color-alt;
  display: inline-block;
  height: $header-height;
  vertical-align: top;

  &.unread {
    background-color: #b70f3b;

    .notifications-unread-count a {
      color: $white;
    }
  }

  &.active {
    background-color: $white;

    .notifications-unread-count a {
      color: $off-black;
      transition: 0;

      &:hover {
        color: $off-black;
      }
    }
  }

  .notifications-unread-count a {
    font-size: 1.4rem;
    font-weight: 400;
    color: $gray;
    text-decoration: none;
    transition: color 300ms ease-in-out;
    padding: 12px 15px;
    display: inline-block;

    &:hover {
      color: $white;
      text-decoration: none;
    }
  }

  .notifications-dropdown {
    background-color: $white;
    color: $off-black;
    height: auto;
    width: 300px;
    position: absolute;
    left: -100px;
    top: $header-height;
    text-align: left;
    opacity: 0;
    display: inline-block;
    box-shadow: 0 6px 10px 1px rgba($black, 0.05);
    transition: max-height 400ms;
    overflow: auto;

    .notifications-container {
      transition: opacity 200ms 400ms;
      opacity: 0;
    }

    &.inactive {
      visibility: hidden;
      max-height: 0;
    }

    &.active {
      visibility: visible;
      opacity: 1;
      max-height: 400px;

      .notifications-container {
        opacity: 1;
      }
    }

    // Unfortunately this selector is necessary for CSS specificity reasons.
    > .notifications-container ul > li:last-of-type { // scss-lint:disable SelectorDepth
      border-bottom: 0;
    }
  }
}

.notifications-dropdown > .notifications-container {
  width: calc(100% - 20px);
  padding-top: 15px;
  margin: auto;
}

.notifications-container {
  width: 90%;
  max-width: 600px;
  margin: auto;
  padding-top: 100px;
  margin-bottom: 50px;

  a {
    color: $gray;
    text-decoration: none;
    font-size: 1.2rem;

    &:hover {
      color: $off-black;
    }
  }

  .notifications-header {
    border-bottom: 1px solid $gray;
    position: relative;

    h3 a {
      font-size: 1.8rem;
      font-weight: 500;
      padding: 0 0 6px 10px;
      display: inline-block;
      color: $off-black;
    }

    .mark-all-read {
      padding: 0 10px;
      display: inline-block;
      position: absolute;
      right: 0;
      top: 8px;
      cursor: pointer;
    }
  }
}

.notifications-list-item {
  width: 100%;
  font-size: 1.2rem;
  border-bottom: 1px solid $gray;

  &.unread {
    background-color: $white;
    border-left: 6px solid #d21849;
  }

  > a {
    display: inline-block;
    width: 100%;
    padding: 12px 10px;
    text-decoration: none;
    color: $off-black;
  }

  .notification-message {
    padding-bottom: 2px;
  }

  .notification-time-ago {
    color: $gray;
  }
}

.notifications-empty {
  color: $gray;
  font-size: 1.2rem;
  text-align: center;
  height: 150px;
  width: 100%;
  padding: 60px 0;
}

@media #{$mobile} {
  .header-notifications {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: $header-color;
    height: 45px;

    .notifications-unread-count a {
      font-size: 1.7rem;
      padding: 12px 15px;
    }
  }

  .notifications-container {
    padding: 20px 0;
  }
}
