@import "variables";

.option-fields {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.category-header {
  margin-bottom: 10px;
}

.category-description {
  margin-top: 5px;
  margin-bottom: 5px;
}

.category-section {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 8px 5px 5px 5px rgba(0,0,0,0.1);
  padding: 5px;
}

.reference-group-fields {
  margin: 6px;
  padding: 6px;
  box-shadow: inset 8px 5px 5px 5px rgba(0,0,0,0.1);
  background-color: #f0f0f0;
}

.reference-image-list {
  transition: 0.5s ease-in-out;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  overflow: hidden;
}

@keyframes add-reference-item {
  from {
    max-height: 0;
  }

  to {
    max-height: 500px;
  }
}

@keyframes remove-reference-item {
  from {
    width: 20%;
    max-height: 600px;
  }
  to {
    width: 0px;
    max-height: 0px;
  }
}

.reference-image-fields {
  margin: 8px;
  transition: 0.5s ease-in-out;
  animation: add-reference-item 0.5s linear forwards;
  width: calc(20% - 16px);
  padding: 6px;
  box-shadow: 8px 5px 5px rgba(0,0,0,0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #fff;
  max-height: 600px;

  @media #{$mobile} {
    width: 90vw;
    height: 400px;
  }

  &.removed {
    white-space: nowrap;
    animation: remove-reference-item 0.5s linear;
    color: white;

    .fields-section {
      transition: 0.5s ease-in-out;
      opacity: 0;
    }
  }
}

.reference-preview-section {
  position: relative;
  background-color: #fff;
  height: 300px;
  margin-bottom: 5px;
  font-size: 20px;
  input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 9;
    opacity: 0;
  }
}

.reference-image-preview { 
  z-index: 10;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  pointer-events: none;

  div {
    max-height: 100%;
    max-width: 100%;
  }

  img {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
    margin: auto;
    display: block;
  }
}

.reference-images-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: baseline;
}

.reference-image-item {
  flex-grow: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.order-reference-item {
  display: flex;
  flex-direction: column;
  margin: 10px;

  &:not(:last-of-type) {
    border-bottom: 2px solid $logo-blue;
  }
}

.remove-reference-button {
  margin-top: 4px;
  padding: 2px;
  background-color: $logo-red;
  color: #fff;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  text-decoration: none;

  &::before {
    margin-right: 4px;
    color: #fff;
    content: $icon-plus;
  }
}

.reference-description {
  max-width: 600px;
}

.reference-image-header {
  font-weight: normal;
  margin-left: 8px;
}

.add-icon-link {
  margin-right: 6px;
  text-decoration: none;

    &::before {
    content: $icon-plus;
    color: $logo-green;
  }
}
