@import "variables";

#order-form {
  min-height: calc(100vh - 200px);
}

#order-form-inner {
  max-width: 750px;
  margin: auto;
}

.order-form-header {
  padding: 10px;
  font-weight: normal;
  text-align: center;

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }
}

.category-section {
  margin-bottom: 10px;
}

.category-header {
  background-color: #272727;
  color: rgba(255, 255, 255, 0.8);
  padding: 10px;
}

.reference-group-list {
  background-color: #444;
  color: rgba(255, 255, 255, 0.9);
}

.reference-group-fields {
  padding: 5px 10px;
  position: relative;
  opacity: 1;

  &.removed {
    opacity: 0;
    transition: 1s ease-in-out;
  }

  &:not(:last-of-type) {
    border-bottom: 10px solid #272727;
  }
}

.reference-group-section-header {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 1px;
  color: rgba(255, 255, 255, 0.95);
}

.reference-group-section-description {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 5px;
}

.column-right-align {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.commission-remove-button {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  padding: 10px;
  margin-top: 10px;
  color: #000;
  text-decoration: none;
  white-space: nowrap;
}

@keyframes remove-reference-image {
  0% {
    max-width: 100%;
    max-height: 240px;
  }

  50% {
    max-width: 0;
    max-height: 240px;
  }

  100% {
    max-height: 0;
    max-width: 0;
  }
}

.reference-image-fields {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  overflow: hidden;

  @media #{$mobile} {
    flex-direction: column;
  }

  &.inactive {
    max-width: 240px;

    @media #{$mobile} {
      max-width: none;
    }

    .reference-image-info-section {
      max-width: 0;
      overflow: hidden;
    }
  }

  &.active {
    max-width: 100%;

    .reference-image-info-section {
      padding-left: 10px;
      max-width: 100%;
      flex-grow: 1;

      @media #{$mobile} {
        padding: 0;

        textarea {
          min-height: 250px;
        }
      }
    }
  }

  &.removed {
    animation: 1s linear remove-reference-image;
    animation-iteration-count: 1;
  }
}

.reference-image-info-section {
  transition: 1s ease-in-out;
  display: flex;
  flex-flow: column nowrap;

  .larger-label {
    padding-bottom: 5px;
  }

  textarea {
    flex-grow: 1;
  }
}

.reference-image-preview-section {
  width: 240px;
  height: 240px;
  position: relative;
  cursor: pointer;

  @media #{$mobile} {
    width: 100%;
    height: calc(100vw - 20px);
  }

  input {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
  }

}

.preview-inner {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: #f2f2f2;
  color: #000;
  cursor: pointer;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;

  img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
  }
}
