@import "variables";

// We prefer selectors not be merged in this file because when merged the
// header-search selector gets very big and the code is much less readable.
// scss-lint:disable MergeableSelector

#header-search {
  background-color: $header-color;
  margin-right: 5px;

  input {
    font-size: 1.4rem;
    background-color: $header-color;
    height: 40px;
    flex-grow: 1;
    padding: 0 4px 0 32px;
    border-top: 0;
    border-bottom: 0;
    border-left: 1px solid rgba(#fff, 0.3);
    border-right: 1px solid rgba(#fff, 0.3);
    border-radius: 0;
    color: #fff;
    transition: color 400ms ease-in-out 300ms, background-color 400ms ease-in-out 300ms;
    appearance: none;

    &:focus {
      transition: color 400ms ease-in-out, background-color 400ms ease-in-out;
      outline: none;
      border-color: transparent;
      background-color: #fff;
      color: #333;

      &::placeholder {
        color: #000;
      }
    }

    &::placeholder {
      color: #eee;
    }
  }

  @media #{$mobile} {
    background-color: $header-color-alt;
    margin: 0;
    border: 0;
    order: 1000;

    input {
      background-color: $header-color-alt;
    }
  }
}

.tag-group-editor-tags-suggestions {
  text-align: left;
}

.search-input-container { 
  display: flex;
  flex-direction: row;
}

.search-side-button { 
  background-color: #008000;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
}

.search {
  padding: 10px;
}

.search-tag-groups {
  display: flex;
  flex-flow: row wrap;

  .tag-group-editor {
    margin: 4px;
    padding: 4px;
    border: 1px solid #777;
    width: 300px;
  }
}

.search-controls {
  button {
    padding: 3px;
    margin: 5px;
    background-color: darken(#fff, 10%);
    border: 0;
    cursor: pointer;
    -moz-appearence: none;
    border-radius: 3px;
    color: #333;

    &:hover {
      background-color: #fff;
    }
  }
}

#body-search {
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  width: 100vw;
  height: 40px;
  background-color: #fff;
  position: relative;
  padding: 0 40px;

  button {
    width: auto;
    height: 40px;
    display: inline-block;
    background-color: #fff;
    border: 0;
  }

  input[type="search"] {
    min-width: 150px;
    width: auto;
    height: 30px;
    margin: 5px;
    display: inline-block;
    background-color: #fff;
    border: 0;
    box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.15);
    border-radius: 2px;
  }

  input[type="submit"] {
    height: 40px;
    background-color: #fff;
    border: 0;
    cursor: pointer;
  }

  button,
  input[type="search"],
  input[type="submit"] {
    font-size: 1.2rem;
    padding: 2px 10px;

    &:focus {
      outline: transparent;
    }
  }
}

// ==============================================
//  Header search box
// ==============================================


// Header search container
//
// This is used for the search box in the site's universal header.
//
// 1. Transition without delay because the transition shouldn't be
//    delayed when the search dialog is collapsing.
// 2. Delay here is to allow for the dialog to collapse before
//    changing the color of the search box. The delays here should
//    be equivalent to the length of the transition in comment #1.
// 3. Overrides default styles for the search input in Firefox,
//    Chrome, Opera, and Safari.

#header-search {
  display: inline-block;
  position: relative;
  width: 300px;
  max-height: 40px;
  transition: max-height 300ms ease-in-out; // 1

  background-color: $header-color;

  @media #{$mobile} {
    background-color: $header-color-alt;
    width: 100%;
  }
}

#header-search-react {
  background-color: $header-color;

  @media #{$mobile} {
    background-color: $header-color-alt;
  }
}

label[for="search-input"] span {
  position: absolute;
  left: 0;
  cursor: pointer;

  &::before {
    color: #fff;
  }

}

.search-outer-container {
  position: relative;
}

// Header search suggestions
// Suggestions for the search box (aka auto-complete).
#header-search-suggestions {
  // Search suggestions should be hidden by default.
  visibility: hidden;
  opacity: 0;
  color: #aaaab2;
  background-color: #fff;
  height: auto;
  min-height: 0;
  width: 100%;
  position: relative;
  text-align: center;
  // No delay to ensure that the suggestions element will be
  // transparent before the height transition reaches it.
  transition: opacity 300ms ease-in-out;

  span {
    display: block;
    height: 100px;
  }
}


// Active header search
//
// Styles for the header search box when a query is being entered or
// the input box is otherwise in-focus.
//
// 1. Height of the header search when expanded with suggestions div.
// 2. 600ms delay when the search suggestions transition to an
//    expanded state.

#header-search.active {
  height: auto;
  // Height of the header search when expanded with suggestions div.
  max-height: 240px;
  transition: max-height 300ms ease-in-out 200ms;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

  form input[type="search"] {
    border-color: transparent;
    background-color: #fff;
  }

  @media #{$mobile} {
    height: 100%;
    max-height: 100%;
    width: 100vw;
    top: 0;
    left: 0;
    transition: max-height 300ms ease-in-out, width 300ms ease-in-out;
    display: block;
    position: fixed;
    box-shadow: none;

    form input[type="search"] {
      width: calc(100% - 75px);
      left: 15px;
      top: 2px;
      position: absolute;
      background-color: transparent;
    }
  }
}

#header-search-suggestions {
  visibility: visible;
  opacity: 1;
  transition: opacity 300ms ease-in-out 600ms; // 2

  @media #{$mobile} {
    margin-top: 40px;
  } 
}

#header-search-suggestions-empty {
  display: none;
  opacity: 0;
  height: 170px;
  padding: 0 5px;
  transition: opacity 300ms ease-in-out;

  p {
    font-size: 1.4rem;
  }

  &.active {
    display: block;
    opacity: 1;
  }

  @media #{$mobile} {
    padding-top: 75px;

    p {
      padding: 0 30px;
      font-size: 1.6rem;
    }
  }
}


// Mobile-specific styles
//
// Styles for making the search feature work properly on a
// mobile device.
//
// 1. Close button unnecessary on desktop.

#close-mobile-search-icon {
  display: none; // 1

  @media #{$mobile} {
    display: inline-block;
  }
}

#mobile-search-icon {
  display: none;
  height: 50px;
  width: 40px;

  span::before {
    // Center icon within the tap target
    transform: translate(8px, 14px);
  }

  @media #{$mobile} {
    display: inline-block;
  }
}

#header-search-suggestions-fillable {
  text-align: left;
  font-size: 1.4rem;
  position: relative;
  left: 0;
  width: 100%;
  color: #333;
  overflow-y: auto;
  height: auto;
  max-height: 240px;
  min-height: 0;

  > li {
    padding-left: 32px;
    list-style: none;
    width: 100%;
    height: 32px;
    line-height: 32px;
    cursor: pointer;

    &:hover {
      background-color: #f4f4f4;
    }
  }
}
