@import "scss-variables";

#avatar-uploader-thumbnail-container {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;

  img {
    object-fit: cover;
    width: 150px;
    height: 150px;
    pointer-events: none;
  }
}

#avatar-uploader {
  position: absolute;
  left: 0;
  // 150px of padding to push the button itself out of the avatar container.
  // This prevents a bug in WebKit where the default cursor is always shown
  // when hovering over the button element of the file field.
  padding: 150px;
  opacity: 0;
  cursor: pointer;
}
