@import "scss-variables";

#avatar-uploader-container {
  width: 100%;
  height: 150px;
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
  border: 1px solid #aaaab2;
  background-color: #dadada;

  #avatar-uploader-thumbnail {
    width: 150px;
  }

  img {
    object-fit: cover;
    width: 150px;
    height: 150px;
    margin-right: 0;
    pointer-events: none;
  }

  p {
    width: 100%;
    text-align: center;
    padding: 65px 0;
  }
}

// Input field
#avatar-uploader {
  position: absolute;
  left: 0;
  // 150px of padding to push the button itself out of the avatar container.
  // This prevents a bug in WebKit where the default cursor is always shown
  // when hovering over the button element of the file field.
  padding: 150px;
  opacity: 0;
  cursor: pointer;
}
