@import "variables";

.green-add-button {
  cursor: pointer;
  text-decoration: none;
  background-color: $logo-green;
  color: #fff;
  font-size: 14px;
  display: block;
  margin-top: 10px;
  padding: 5px;
  width: 33.3333%;
  text-align: center;

  &::before {
    font-family: 'imagehexicons';
    padding-right: 5px;
    content: $icon-plus;
  }

  @media #{$mobile} {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.larger-label {
  font-size: 14px;
}


.fields-section {
  display: flex;
  flex-direction: column; 

  label {
    display: block;
  }

  input {
    border-radius: 3px;
    display: block;
    border: 1px solid #ddd;
  }

  textarea {
    border-radius: 3px;
    border: 1px solid #ddd;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-mobile-column {
  display: flex;
  flex-direction: row;

  @media #{$mobile} {
    display: flex;
    flex-direction: column;
  }
}

.field-warning {
  font-size: 14px;
  margin: 10px 0;
  padding: 10px;
  color: #fff;
  background-color: lighten($logo-red, 10%);

  &::before {
    content: $icon-danger;
    margin-right: 10px;
  }
}

.warning-dialogue {
  font-size: 20px;
  margin: 20px 0;
  padding: 20px;
  background-color: lighten($logo-red, 10%);
  color: #eee;
  display: flex;
  flex-direction: row;
  align-items: center;

  span {
    margin-right: 10px;
  }
}

.warning-dialogue-icon::before {
  content: $icon-danger;
  font-size: 18px;
  margin-right: 10px;
}

.checkmark-submit-button {
  font-family: $font-stack;
  border: 0;
  font-size: 16px;
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: $logo-green;
  color: #eee;
  cursor: pointer;

  &::before {
    content: $icon-checkmark;
    margin-right: 10px;
  }
}

.cross-delete-button {
  font-size: 16px;
  background-color: $logo-red;
  color: #fff;
  padding: 10px 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.full-width-progress {
  width: 100%;
  transition: 500ms linear;
  opacity: 1;

  &.inactive {
    opacity: 0;
  }
}

.row-fields {
  justify-content: space-between;
}


.markdown-area {
  font-size: 14px;

  ol {
    list-style-type: decimal;
    margin-left: 2em;

    ol {
      list-style-type: lower-roman;
    }
  }

  li {
    display: list-item;
  }

  code {
    background-color: rgba(20, 20, 20, 95);
    color: rgba(13, 250, 0, 100);
  }
}
