/* Styling for sign-in container, used on all registration-related pages (e.g. sign-in, sign-up, forgot password, etc.) */
#sign-in-container {
  background-color: #fff;
  border-radius: 1px;
  border: 1px solid #aaaab2;
  display: block;
  margin: 50px auto auto auto;
  position: relative;
  text-align: left;
  width: 350px;

  /* "Header" for the registration pages that acts as a page title. */
  .sign-in-header {
    margin: auto;
    padding-top: 10px;
    text-align: center;
  }

  /* Styling for the submit button on registration pages. */
  input[type=submit] {
    -webkit-appearance: none;
    background-color: #fff;
    border: 0px;
    border-top: 1px solid #aaaab2;
    color: #333;
    font-size: 1.4rem;
    font-weight: 400;
    height: 35px;
    margin-top: 10px;
    text-align: center;
    width: 100%;

    &:focus {
      border-color: #333;
      outline: transparent;
    }
  }
}

/* Container for all fields in a the sign-up container. */
#sign-in-fields {
  padding: 10px 10px 2px 10px;
}

/* Styling applied to all text-input fields in the registration pages. */
.field {
  color: #333;
  margin: auto;
  padding: 5px auto 5px auto;
  position: relative;
  width: 330px;
}

/* Styling for the text, email, and password fields specifically. */
.field input[type=text],
.field input[type=email],
.field input[type=password] {
  background-color: #f2f2f2;
  border-radius: 1px;
  border: 1px solid transparent;
  color: #333;
  font-size: 1.4rem;
  font-weight: 400;
  height: 35px;
  margin: 5px auto;
  padding: 0px 4px 0px 8px;
  width: 100%;

  &:focus {
    border-color: #333;
    outline: transparent;
  }
}

/* Styling for "Remember me" checkbox. */
.field input[type=checkbox] {
  -webkit-appearance: none;
  background-color: transparent;
  border-image: none;
  border-radius: 1px;
  border: 1px solid #aaaab2;
  height: 16px;
  margin: 5px 3px 0px 0px;
  vertical-align: bottom;
  width: 16px;

  &:hover {
    cursor: pointer;
  }

  &:checked {
    border-color: #333;
  }

  &:focus {
      outline: transparent;
  }
}

/* Styling for field labels. Labels are an HTML element, see the MDN for more information. */
.field label {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 400;
}

/* Actions container used to host the submit button. */
.actions {
  color: #333;
  margin: auto;
  position: relative;

  input[type=submit] {
    &:hover {
      cursor: pointer;
    }
  }
}

/* Sign-in extras are the links below the sign-in container (e.g. forgot password, sign up, etc.) */
#sign-in-extras-container {
  display: block;
  height: auto;
  left: 0;
  margin: 10px auto;
  padding: 0;
  position: relative;
  right: 0;
  text-align: left;
  width: 360px;

  a {
    margin: 0px 5px;
    text-decoration: none;
    width: 100%;
  }
}

/* Class used to separate each row of sign-in extras, this allows the buttons to change size responsively depending on the registration page the user is viewing. */
.sign-in-extras-row {
  display: flex;
  margin: 10px 0px;
  width: 100%;
}

/* Styling for the sign-in extras buttons. */
.sign-in-extras-half, .sign-in-extras-full {
  background-color: #fff;
  border-radius: 1px;
  border: 1px solid #aaaab2;
  color: #333;
  display: inline-flex;
  flex-flow: column nowrap;
  font-size: 1.4rem;
  font-weight: 400;
  height: 35px;
  padding: 8px 0px;
  position: relative;
  text-align: center;
  text-decoration: none;
}

/* Styling for the sign-in extras button when it takes up only half of a row. */
.sign-in-extras-half {
  flex: 1;
  width: 100%;
}

/* Styling for the sign-in extras button when it takes up the full row. */
.sign-in-extras-full {
  flex: 1;
  width: 100%;
}

/* Sign-in extras text is applied to all text inside the buttons. */
.sign-in-extras-text {
  width: 100%;
}