#header-container {
  display: block;
  position: fixed;
  width: 100vw;
  height: 40px;
  box-sizing: border-box;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: #333333;
  color: #FFFFFF;
  text-align: right;
  font-weight: 300;
  margin: 0;
  padding: 0;

  a {
    display: inline-block;
    color: #FFFFFF;
  }

  p {
    display: inline-block;
  }
}

#header-left {
  position: absolute;
  display: inline-block;
  text-align: left;
  left: 40px;
  top: 12px;
  
  a {
    font-size: 1.4em;
    font-weight: 400;
    color: #AAAAB2;
    text-decoration: none;

    &:hover {
      color: #FFFFFF;
    }
  }
}

#header-right {
  position: absolute;
  display: inline-block;
  text-align: right;
  right: 40px;
  top: 12px;
  
  a {
    font-size: 1.4em;
    font-weight: 400;
    color: #AAAAB2;
    text-decoration: none;

    &:hover {
      color: #FFFFFF;
    }
  }
}

#masthead {
  margin-top: 40px;
  display: inline-block;
  position: relative;
  min-height: calc(100vh - 200px);
  width: 100vw;
}