#header-container {
  display: block;
  position: fixed;
  width: 100vw;
  height: 40px;
  box-sizing: border-box;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: #333333;
  color: #FFFFFF;
  text-align: right;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

#header-left {
  position: absolute;
  display: inline-block;
  text-align: left;
  left: 40px;
  top: 12px;
}

#header-right {
  position: absolute;
  display: inline-block;
  text-align: right;
  right: 40px;
  top: 12px;
}

.header-item {
  display: inline-block;
  font-size: 1.4em;
  font-weight: 400;
  color: #AAAAB2;
  padding: 0px 15px;

  a {
    text-decoration: none;
    color: #AAAAB2;
    transition: color 300ms ease-in-out;

    &:hover {
      color: #FFFFFF;
      text-decoration: none;
    }
  }

  &:first-of-type {
    padding-left: 0px;
  }

  &:last-of-type {
    padding-right: 0px;
  }
}

#masthead {
  margin-top: 40px;
  display: inline-block;
  position: relative;
  min-height: calc(100vh - 200px);
  width: 100vw;
}