@import "scss-variables";

.generic-tag-group {
  width: 100%;
  max-width: 600px;
  display: block;
  margin-bottom: 15px;
  background-color: #fff;
  border-radius: 2px;
  border-top-left-radius: 0;
  position: relative;
}

.generic-tag {
  font-size: 1.2rem;
  padding: 15px 15px;
  display: inline-block;
  width: 100%;
}

.generic-tag-list {
  > li {
    &:first-of-type {
      font-size: 1.8rem;
      font-weight: 500;
      height: 100px;
    }

    &:not(:last-of-type) {
      border-bottom: 1px solid #e4e4e4;
    }
  }
}

.edit-generic-tag-group {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 15px;

  &:before {
    content: $icon-placeholder;
    display: inline-block;
    font-size: 1.8rem;
  }
}

.tag-group-edit-box {
  background-color: transparent;
  width: 100%;
  border: 0;
  font-size: 1.2rem;
  padding: 15px;

  &:focus {
    outline: transparent;
  }
}
