@import "scss-variables";

.tag-creation {
  &.inactive {
    font-size: 1.3rem;
    color: #777;
    span {
      display: block;
    }
  }
}
#tag-information{
  position: relative;
  padding: 19px;
  header {
    flex-direction: row;
    display: flex;
    align-items: center;
  }
  h1{
    font-size: 2.1rem;
    font-weight: 500;
    margin-right: 10px;
  }
  
}
#tag-edit-link {
  text-decoration: none;
  padding: 2px 5px 2px 5px;
  border: 1px solid #aaa;
  color: black;
}

#tag-neighbors {
  h3 {
    font-size: 1.2rem;
    font-weight: 500;
  }
  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    width: 25%;
  }
}

.tag-neighbor-item {
  a {
    text-decoration: none;
    color: black;
  }
  display: block;
  margin: 2px 3px 0px 3px;
  padding: 2px 3px 2px 3px;
  border: 1px solid #aaa;
}


.inline-tag-creation {
  background-color: white;
  padding: 10px;
  p {
    display: flex;
    flex-direction: column;
  }
  span {
    display: block;
  }
}
#tag-description{
  padding: 5px;
  width: 25%;
}
