@import "variables";

.tag-creation {

  &.inactive {
    font-size: 1.4rem;
    display: block;
    color: #777;
    padding: 5px;

    span {
      display: block;
      text-align: center;
      margin: auto;
      cursor: pointer;
    }
  }
}

.inline-tag-creation {
  background-color: #fff;
  padding: 10px;

  p {
    display: flex;
    flex-direction: column;
  }

  span {
    display: block;
  }
}

.tag-information {
  position: relative;
  padding: 19px;

  header {
    flex-direction: row;
    display: flex;
    align-items: center;
  }

  h1 {
    font-size: 2.1rem;
    font-weight: 500;
    margin-right: 10px;
  }
}

.tag-description {
  font-size: 1.3rem;
  padding: 5px 0;
}

.tag-edit-link {
  text-decoration: none;
  padding: 4px 7px;
  color: #fff;
  background-color: $logo-green;
}

.related-tags {
  margin-top: 10px;

  h3 {
    font-size: 1.2rem;
    font-weight: 500;
  }

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px 0;
    max-width: 500px;

    li {
      display: block;
      margin: 0 3px 3px 0;
      padding: 4px 7px;
      border: 1px solid #aaa;
      font-size: 1.4rem;

      a {
        display: block;
        text-decoration: none;
        color: #333;
      }
    }
  }
}
