@import "scss-variables";


//-------------------------//
//       #Upload           //
//-------------------------//

#upload-page-container {
  width: 80%;
  max-width: 1000px;
  margin: auto;
  margin-top: 75px;
  text-align: center;

  form {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-justify-content: center;
            justify-content: center;
  }

  input[type="submit"] {
    width: 50%;
    margin: 5px 20%;
    height: 40px;
    font-size: 1.8rem;
    font-weight: 500;
    border-radius: 3px;
    border: none;
    background-color: #5bb289;
    color: #fff;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  #upload-submit-button {
    display: none;

    &.active {
      display: block;
    }
  }

  .upload-container,
  .new-upload-container {
    margin: 5px 3px;
    display: inline-block;
    width: 350px;
    height: 450px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #aaaab2;
    overflow: hidden;
  }

  .new-upload-container {
    position: relative;
    padding: 10px;

    .top-half {
      width: 100%;
      height: 49%;
      position: absolute;
      top: 0;
      left: 0;
      cursor: default;
      border-radius: 4px;
      z-index: 10;
      pointer-events: none;

      p {
        font-size: 1.4rem;
        padding: 15px;
        color: #8e8e8e;
        margin-top: 140px;
      }
    }

    hr {
      position: absolute;
      width: 80%;
      margin: auto;
      left: 10%;
      top: 50%;
      z-index: 10;
      border: 1px solid rgba(#8e8e8e,.4);
      pointer-events: none;
    }

    .or {
      background-color: #fff;
      position: absolute;
      top: calc(50% - 9px);
      left: calc(50% - 18px);
      width: 36px;
      height: 20px;
      font-size: 1.4rem;
      font-weight: 500;
      color: #8e8e8e;
      text-align: center;
      z-index: 10;
      pointer-events: none;
    }

    .bottom-half {
      width: 100%;
      height: 49%;
      position: absolute;
      bottom: 0;
      left: 0;
      cursor: pointer;
    }

    .file-upload-coverup {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      background-color: #fff;
      cursor: pointer;
      border-radius: 4px;
      pointer-events: none;
      z-index: 9;

      p {
        font-size: 1.4rem;
        padding: 15px;
        color: #8e8e8e;
        margin-top: 140px;
      }
      
      &:before {
        content: $icon-folder;
        position: absolute;
        display: inline-block;
        color: #8e8e8e;
        transform: translate(-60px,20px);
          -webkit-transform: translate(-60px,20px);
        font-size: 12.0rem;
        -webkit-font-smoothing: antialiased;
      }
    }

    input[type="file"] {
      width: 100%;
      height: 100%;
      position: absolute;
      top: -50px;
      left: 0;
      z-index: 8;
      cursor: pointer;

      &:focus {
        outline: transparent;
      }
    }
  }

  .upload-container {
    display: none;
    padding: 0;

    &.active {
      display: inline-block;
    }
  }
}

//-------------------------//
//       #Dropdown         //
//-------------------------//

.custom-select {
  width: 100%;
  height: 40px;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #aaaab2;
  -webkit-appearance: none;
  padding: 5px 10px;
  border-radius: 0;
  font-size: 1.2rem;
  margin: 0;

  &:focus {
    outline: transparent;
  }
}
