@import "scss-variables";

/* ==============================================
    Account Dropdown
   ============================================== */

.wrapper-dropdown {
  position: relative;
  width: 300px;
  margin: 0 auto;
  padding: 10px;
  cursor: pointer;
  outline: none;
  display: inline;
}

.wrapper-dropdown .dropdown {
  font-size: 1.4rem;
  font-weight: 400;
  position: absolute;
  top: 32px;
  left: -45px;
  right: 0;
  width: 150px;

  background: #555;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  transition: opacity 200ms ease-in;
  list-style: none;
  opacity: 0; /* Hiding */
  padding-left: 0;
  text-align: left;
  visibility: hidden;
}

.wrapper-dropdown .dropdown li a {
  display: block;
  padding: 10px;
  width: 100%;
  text-decoration: none;
  transition: color 200ms ease-out;
  color: rgba(#fff,0.7);
}

.wrapper-dropdown .dropdown li input[type=submit] {
  padding: 10px;
  width: 100%;
  text-decoration: none;
  transition: color 200ms ease-out;
  color: rgba(#fff,0.7);
  border: none;
  background-color: transparent;
  text-align: left;
  font-size: 1.4rem;
  font-weight: 400;
}

.wrapper-dropdown .dropdown li:first-of-type a {
  border: none;
  border-radius: 4px 4px 0 0;

  &:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 20px;
    border-width: 0 8px 8px;
    border-style: solid;
    border-color: #555 transparent;
  }

  &:hover {
    &:after {
      border-color: #333 transparent;
    }
  }
}

.wrapper-dropdown .dropdown li:last-of-type a {
  border: none;
  border-radius: 0 0 4px 4px;
}

/* Hover state */
.wrapper-dropdown .dropdown li:hover a, .wrapper-dropdown .dropdown li:hover input[type=submit] {
  background: #333;
  color: #fff;
  cursor: pointer;
}

// Fixing bottom-most dropdown item when it's the "Sign out" button.
.wrapper-dropdown .dropdown li:last-of-type:hover input[type=submit] {
  border-radius: 0 0 4px 4px;
}

/* Active state */
.wrapper-dropdown.active .dropdown {
  opacity: 1;
  visibility: visible;
}


@media all and (max-device-width: $mobile-width) {
  .wrapper-dropdown {
    position: initial;
    width: auto;
    display: auto;
    padding: 0;
    margin: 0;
    background: none;

    .dropdown {
      background: none;
      display: inline-block;
      border: none;
      position: relative;
      opacity: 1;
      visibility: visible;
      box-shadow: none;
      top: auto;
      right: auto;
      left: auto;
      bottom: auto;
      font-size: 1.6rem;

      li input[type=submit], li a {
        padding: 12px 15px;
        font-size: 1.8rem;
        color: #aaaab2;
      }
    }
  }

  .wrapper-dropdown .dropdown li:first-of-type a:after {
    display: none;
  }
}
