@import "scss-variables";

// ==============================================
//  User page container
// ==============================================

.user-page-container {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;

  @media all and (max-width: $mobile-width) {
    flex-flow: column wrap;
  }
}

// User page header
// Header for all user pages with the respective user's information.
.user-page-header {
  position: relative;
  width: 100vw;
  height: auto;
  padding: 0;
  z-index: 100;
  color: #333;
  display: flex;
  flex-flow: row wrap;
  box-shadow: 8px 0 5px 5px rgba(#000,.1);
  background-color: #fff;

  // Spacing for the user info and actions containers.
  // Only applies on desktop.
  @media all and (min-width: $mobile-width) {
    > div {
      margin-top: 80px;
    }
  }

  @media all and (max-width: $mobile-width) {
    display: flex;
    flex-flow: row wrap;
    height: auto;
    position: relative;
    background-color: #fff;
    width: 100%;
    box-shadow: none;
    min-height: 0;
    text-align: center;
  }
}

.user-page-information {
  position: relative;
  display: flex;
  padding: 0 50px;
  margin-bottom: 25px;
}

.user-page-text {
  display: inline-block;
  padding-left: 15px;

  @media all and (max-width: $mobile-width) {
    display: block;
    text-align: left;
  }
}

.user-page-profile-picture {
  width: 120px;
  height: 120px;
  background-color: #c9c9c9;
  overflow: hidden;
  border-radius: 3px;
  pointer-events: none;

  img {
    width: 100%;
  }

  @media all and (max-width: $mobile-width) {
    margin-right: 10px;
    width: 75px;
    height: 75px;
    flex-shrink: 0; // Ensures that the image isn't squished on mobile.

    img {
      width: 100%;
    }
  }
}

.user-page-username {
  font-size: 2.1rem;
  font-weight: 500;
  display: inline-block;
  padding-bottom: 5px;

  @media all and (max-width: $mobile-width) {
    width: 100%;
  }
}

.user-page-bio {
  font-size: 1.4rem;
  display: block;
  line-height: 24px;

  &.inactive {
    color: #aaaab2;
  }
}

.user-page-bio-edit {
  font-size: 1.4rem;
  font-weight: 300;
  color: #888;
  text-decoration: none;
  transition: color 200ms;
  line-height: 24px;
  display: none;

  &:hover {
    color: #333;
  }
}

.user-page-website {
  font-size: 1.4rem;
  line-height: 24px;

  a {
    color: #333;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.user-page-actions {
  position: relative;
  right: 0;
  width: 100%;
  padding: 0 10px;

  @media all and (min-width: $mobile-width) {
    position: absolute;
    width: auto;

    > form, > a {
      display: inline-block;
    }
  }
}


// ==============================================
//  User page content (tabs and/or images)
// ==============================================

.user-content-container {
  width: 100vw;

  a {
    color: #fff;
  }
}


// User page header tabs
//
// Tabs for the user page (Uploads and Collections).
// 
// 1. z-index moved down one to prevent the box shadow from
//    showing up over the "sidebar" when the tabs and "sidebar"
//    are combined into one object.

.user-page-header-tabs {
  position: relative;
  z-index: 100;
  padding-left: 40px;
  background-color: #fff;
  margin: 0;
  left: 0;
  height: 40px;
  overflow: auto;
  width: 100vw;
  text-overflow: clip;
  white-space: nowrap;

  @media all and (max-width: $mobile-width) {
    position: relative;
    z-index: 99; // 1
    text-align: center;
    padding-left: 0;
  }
}

.user-page-header-tab {
  display: inline-block;
  position: relative;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 20px;
  height: 40px;
  padding: 11px 15px;
  margin-right: 25px;
  cursor: pointer;
  color: #555;
  text-align: center;

  &.current {
    font-weight: 500;
    color: #333;

    &::after {
      content: '';
      background-color: #17cd94;
      width: calc(100% + 30px);
      transform: translate(-15px,6px);
      height: 3px;
      display: block;
    }
  }

  &:first-of-type {
    margin-left: 20px;
  }
}


// Containers for uploads and collections
// ==============================================

.user-content {
  padding: 10px;
  display: none;

  &.current {
    display: flex;
  }

  @media all and (max-width: $mobile-width) {
    margin-top: 5px;
  }
}


// ==============================================
//  Two-Factor Authentication
// ==============================================

.twofactor-qrcode-container {
  text-align: left;
  width: 100%;
  margin-top: 10px;
  display: inline-block;

  p {
    display: inline-block;
    vertical-align: top;
  }
}

.twofactor-qrcode {
  height: 200px;
  width: 200px;
  margin-right: 10px;
}

.twofactor-backup-codes-container {
  display: block;
  width: 80%;
  margin: 20px auto;

  ul {
    list-style: none;
    font-family: monospace;
    
    li {
      width: 49%;
      text-align: center;
      min-width: 240px;
      display: inline-block;
    }
  }
}
