@import "scss-variables";


/* ==============================================
    User page container
   ============================================== */

#user-page-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
          flex-flow: row nowrap;
  height: 100%;

  @media all and (max-width: $mobile-width) {
    -webkit-flex-flow: column wrap;
            flex-flow: column wrap;
    text-align: center;
  }
}


/* ==============================================
    User page sidebar
   ============================================== */

/**
 * User page sidebar
 *
 * Sidebar for all user pages with the respective user's information.
 *
 * 1. Box shadow, "46px" used to move the box-shadow down 46px as
 *    not to have it run over the userpage tabs.
 * 2. Ensures that the sidebar will never be smaller than the user's
 *    browser window minus the height of the header and the footer.
 */
 
#user-page-sidebar {
  position: fixed;
  box-shadow: 0 46px 5px 5px rgba(#000,.1); /* 1 */
  background-color: #fff;
  min-width: 330px;
  min-height: calc(100vh - 200px); /* 2 */
  height: 100%; /* 2 */
  padding: 40px;
  z-index: 100;

  @media all and (max-width: $mobile-width) {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
            flex-flow: row wrap;
    height: auto;
    position: relative;
    width: 100%;
    box-shadow: none;
    min-height: 0;
    padding: 20px;
  }
}

#user-page-profile-picture {
  width: 250px;
  height: 250px;
  margin-bottom: 10px;
  background-color: #c9c9c9;

  @media all and (max-width: $mobile-width) {
    margin-right: 10px;
    width: 75px;
    height: 75px;
  }
}

.user-page-username {
  font-size: 2.1rem;
  font-weight: 500;
}


/* ==============================================
    User page content (tabs and/or images)
   ============================================== */

#user-content-container {
  margin-left: 330px; /* Width of the user sidebar. */
  width: 100%;

  a {
    color: #fff;
  }

  @media all and (max-width: $mobile-width) {
    margin-left: 0;
  }
}


/**
 * User page header tabs
 *
 * Tabs for the user page (Uploads and Collections).
 *
 * 1. User page's header tabs begin 30px from the end of the user
 *    sidebar.
 * 2. Box shadow moved right 8 pixels ensure that it won't run
 *    into the user sidebar.
 */

#user-page-header-tabs {
  position: fixed;
  z-index: 100;
  width: 100%;
  padding-left: 30px; /* 1 */
  background-color: #fff;
  margin-bottom: 10px;
  margin-top: 0;
  box-shadow: 8px 0 5px 5px rgba(#000,.1); /* 2 */

  @media all and (max-width: $mobile-width) {
    position: relative;
    z-index: 99;
  }
}

.user-page-header-tab {
  display: inline-block;
  position: relative;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 20px;
  height: 40px;
  padding: 11px 11px 11px 0;
  margin-right: 40px;
  cursor: pointer;
  color: #555;
  text-align: center;

  &.current {
    font-weight: 500;
    color: #333;

    &:after {
      content: '';
      background-color: #17cd94;
      width: calc(100% + 30px);
      transform: translate(-15px,6px);
        -webkit-transform: translate(-15px,6px);
      height: 3px;
      display: block;
    }
  }
}


/* Containers for uploads and collections
   ============================================== */

#user-uploads-container, #user-collections-container {
  margin-top: 40px;
  padding: 15px 20px;
  display: none;
  -webkit-flex-flow: row wrap;
          flex-flow: row wrap;

  &.current {
    display: -webkit-flex;
    display: flex;
  }

  @media all and (max-width: $mobile-width) {
    margin-top: 5px;
  }
}
