<div id="collection-select" data-showon="#img-action-collection">

  <% current_user.collections.each do |c| %>
    <%= form_tag add_collection_path(@image) do %>
      <p><%= link_to c.name, add_collection_path(c), remote: :true, method: :post %>
    <% end %>
  <% end %>

</div>
