<div id="image-page-toolbar">
  <div class="left">
    <div id="add-tag-group-button">
      Add a tag group
    </div>
  </div>

  <div class="right">
    <div id="image-help-button">
      Help
    </div>

    <div id="image-info-button">
      Info

      <div data-tooltip="image-info-button" class="toolbar-tooltip" id="image-info-tooltip">
        <table class="image-info-table">
          <tbody>

            <tr class="table-row">
              <td class="column-one-cell">Date taken</td>
              <td class="column-two-cell">-</td>
            </tr>

            <tr class="table-row">
              <td class="column-one-cell">Dimensions</td>
              <td class="column-two-cell">-</td>
            </tr>

            <tr class="table-row">
              <td class="column-one-cell">File name</td>
              <td class="column-two-cell">-</td>
            </tr>

            <tr class="table-row">
              <td class="column-one-cell">File size</td>
              <td class="column-two-cell">-</td>
            </tr>

            <tr class="table-row">
              <td class="column-one-cell">Medium</td>
              <td class="column-two-cell"><%= @image.medium.titleize %></td>
            </tr>

            <tr class="table-row">
              <td class="column-one-cell">Camera</td>
              <td class="column-two-cell">-</td>
            </tr>

            <tr class="table-row">
              <td class="column-one-cell">Lens</td>
              <td class="column-two-cell">-</td>
            </tr>

            <tr class="table-row">
              <td class="column-one-cell">Focal Length</td>
              <td class="column-two-cell">-</td>
            </tr>

            <tr class="table-row">
              <td class="column-one-cell">Exposure</td>
              <td class="column-two-cell">-</td>
            </tr>

            <tr class="table-row">
              <td class="column-one-cell">F Number</td>
              <td class="column-two-cell">-</td>
            </tr>

            <tr class="table-row">
              <td class="column-one-cell">ISO</td>
              <td class="column-two-cell">-</td>
            </tr>

            <tr class="table-row">
              <td class="column-one-cell">Flash</td>
              <td class="column-two-cell">-</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

    <div id="edit-history-button">
      View edit history
    </div>
  </div>

</div>
