<div id="image-page-toolbar">
  <% if current_user %>
    <div class="left">
      <%# Add a tag group %>
      <div id="add-tag-group-button"
        data-image_id="<%= @image.id %>">
        <%= t(".add_a_tag_group") %>
      </div>
    </div>
  <% end %>

  <div class="right">

  </div>
</div>
