<div id="image-creator-info">
  <% unless @image.creators.blank? %>
    <div id="image-creator-list-container">
      <p id="image-creator-list-label">Creators</p>
      <ul id="image-creator-list">
        <% @image.creators.each do |creator| %>
          <li class="image-creator-item">
            <div class="creator-avatar">
              <%= link_to image_tag(creator.avatar_img_thumb), user_path(creator) %>
            </div>
            <p class="creator-name"><%= link_to creator.name, creator %></p>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
