<div id="image-show-stub" data-page="<%= images.try(:current_page) %>">
  <ul class="image-gallery">
    <% if images %>
      <% images.each_with_index do |img, i| %>
        <li class="image-gallery-item">
          <%= link_to image_path(img) do %>
            <%= image_tag img.f(:medium) %>
          <% end %>
        </li>
      <% end %> 
    <% end %>
  </ul>
  <%= will_paginate images if images && !images.empty? %>
</div>
