<%- title t(".browse_images") %>

<%= render partial: "shared/browse_tabs" %>

<div id="image-brose-container">
<%= react_component("ImageBrowserForm", params) %>

<div id="image-list-container">
  <%= react_component("ImageGallery", 
                     render(file: "images/index.json.jbuilder")) %>
</div>

</div>
