<%- title t(".search_page_title") %>

<%= react_component("SearchPage", @query.to_page_h)  %>

<% if !@images.empty? %>
  <%= render 'show_stub', images: @images %>
<% else %>
  <div class="imagehex-empty-note-container">
    <p class="imagehex-empty-note"><%= t(".your_search_didnt_bring_up_any_results") %></p>
  </div>
<% end %>
