<form action="/search" method="get" id="body-search">
  <div class="page-search-full">
    <label for="page-search-input">
      <span class="icon icon-small icon-search"></span>
    </label>
    <input type="search" class="page-search-input" name="query[]" placeholder="" autocomplete="off" />
    <ul class="page-suggestions">

    </ul>
  </div>

  <p id="add-group-button">Add a group</p>
  <input type="submit" id="page-submit-button">
</form>

<%= render 'show_stub' %>
