<%- title t(".image_page_title", id: @image.id) %>

<div id="image-page-top-container">

    <div class="image">
      <%= image_tag @image.f.url %>
    </div>
  <%= render 'image_page_sidebar' %>

</div>
  <%= render 'image_page_toolbar' %>
<div id="image-page-bottom-container">

  <%= render 'image_page_information' %>

</div>
