<%- title t(".image_page_title", id: @image.id) %>

<div id="image-page-top-container">

  <div class="image">
    <%= image_tag @image.f %>
  </div>

  <%= render 'image_page_sidebar' %>

</div>

<div id="image-page-bottom-container">

  <%= render 'image_page_toolbar' %>

  <%= render 'image_page_information' %>

</div>
