<footer id="footer-container">
  <div id="footer">

    <div class="footer-description-column">
      <p class="footer-description-title">ImageHex
      <p class="footer-description-body">Sed posuere consectetur est at lobortis. Nulla vitae elit libero, a pharetra augue. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
      <p class="footer-description-copyright">&copy; 2014 #noided Media
    </div>

    <div class="footer-links-column">
      <ul class="footer-links-list">
        <li>Company
        <li><a href="/about">About</a>
        <li><a href="/people">People</a>
        <li><a href="https://medium.com/imagehex-development-blog">Blog</a>
        <li><a href="/contact">Contact</a>
      </ul>
    </div>

    <div class="footer-links-column">
      <ul class="footer-links-list">
        <li>Community
        <li><a href="/help">Help</a>
        <li><a href="/press">Press</a>
        <li><a href="/status">Status</a>
        <li><a href="/api">API</a>
      </ul>
    </div>
  </div>
</footer>