<header id="header-container">
  <div id="header-left">
    <div class="header-item">
      <a href="/">Home</a>
    </div>
  </div>

  <div id="header-right">
    <% if user_signed_in? %>

      <div class="header-item">
        <%= current_user.name %>
      </div>
      
      <div class="header-item">
        <a href="/users/edit">Settings</a>
      </div>

      <div class="header-item">
        <%= link_to destroy_user_session_path, :method => :delete do %>
          Sign out
        <% end %>
      </div>

    <% else %>

      <div class="header-item">
        <%= link_to new_user_session_path do %>
          Sign in
        <% end %>
      </div>

    <% end %>
  </div>
</header>