<header id="header-container">
  <div id="header-left">
    <div class="header-item">
      <a href="/">Home</a>
    </div>
  </div>

  <div id="header-right">
    <% if user_signed_in? %>

      <div class="header-item">
        <a href="/images/new">Upload</a>
      </div>

      <div id="dd" class="wrapper-dropdown">
        <div class="header-item"><%= current_user.name %></div>

        <ul class="dropdown">
          <li><a href="#">Notifications</a>
          <% if current_user.admin? %>
            <li><a href="/admin/images">Admin</a>
          <% end %>
          <li><a href="/users/edit">Settings</a>
          <li>
            <%= link_to destroy_user_session_path, :method => :delete do %>
              Sign out
            <% end %>
        </ul>
      </div>

    <% else %>

      <div class="header-item">
        <%= link_to new_user_session_path do %>
          Sign in
        <% end %>
      </div>

    <% end %>
  </div>
</header>