<!DOCTYPE html>
<html>
  
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <%# image_tag attachments['imagehex-color-black-text.png'].url %>

    <%= yield %>
  </body>

</html>
